<%= content_for(:title)       { t ".title", city: @city['name'] }       %>
<%= content_for(:description) { t ".description" } %>

<div class='apply-form-overlay'>
  <%= react_component 'ApplyForm', {
    city_groups: @apply_city_groups,
    city_group: @city_group,
    cities: @applicable_cities,
    city: @city,
    token: form_authenticity_token,
    apply_path: send(:"apply_#{locale.to_s.underscore}_path", ':city'),
    locale: I18n.locale,
    i18n: {
      title: t(".apply"),
      apply_btn: t(".apply_btn"),
      please_wait: t(".please_wait"),
      pre_course_language: t(".pre_course_language"),
      language_fr: t(".language_fr"),
      language_en: t(".language_en"),
      :"language_pt-BR" => t(".language_pt-BR"),
      price: t('.price'),
      page_title: t('.title'),

      # City custom
      course_language: course_language,
      post_price: post_price
    },
    rows: apply_rows,
  }, prerender: prerender? %>
</div>

<div class="modal fade" id="codecademy" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <i class="fa fa-code"></i> CodeCademy
        </h4>
      </div>
      <div class="modal-body">
        <%= t(".codecademy_modal_body_html", faq_path: faq_path) %>
        <div class="can-apply-without-codecademy-completed">
          <%= t(".codecademy_modal_can_apply_without_one_hundred_percent_html") %>
        </div>
      </div>
      <div class="modal-footer apply-form-row-submit">
        <input type="button" class="apply-form-submit btn" data-dismiss="modal" value="<%= t(".codecademy_modal_close_button") %>" />
      </div>
    </div>
  </div>
</div>
