<% @stories.each_slice(2) do |stories| %>
  <div class="stories-bundle">
    <% stories.each do |story| %>
      <div class="story-container" style="background-image: url('<%= story_image_url story.thumbnail, width: 600 %>')">
        <main>
          <div class="story-card-title">
            <%= story.title %>
          </div>
          <div class="story-card-summary">
            <%= story.description %>
          </div>
          <div class='story-card-footer'>
            <%= render 'stories/user_infos', story: story %>
          </div>
        </main>
        <%= link_to "", story_path(id: story.slug), class: "story-card-link" %>
      </div>
    <% end %>
  </div>
<% end %>
