<%= content_for(:title)       { t ".title" }       %>
<%= content_for(:description) { t ".description" } %>
<%= content_for(:image_url) { image_url 'social/alumni_facebook_card.png' } %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path('banners/alumni.jpg') %>');">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1>
          <%= t(".our_alumni") %>
        </h1>
        <p>
          <%= t(".our_alumni_details_html", count: (@statistics['alumni']['total'] / 10) * 10) %>
        </p>
      </div>
    </div>
    <div class='banner-cta'>
    <%= link_to send(:"program_#{locale}_path"), class: 'banner-cta-item hidden-xs' do %>
      <%= t(".discover_us", default: "Découvrez notre programme") %>
    <% end %>
    <%= link_to t(".apply_for_nine_weeks_html"), send(:"apply_#{locale}_path"), class: "btn banner-cta-item btn-danger btn-lg" %>
    </div>
  </div>
</div>

<div id="alumni">
  <div class="container">
    <h2 class='section-title-home section-title-home-small'>
      <div class='section-title-home-content'>
        <%= t ".watch_demo_day_title_html",
              city: @demo_day[:city], date: @demo_day[:date], slug: @demo_day[:slug] %>
      </div>
    </h2>

    <div class="video-container">
      <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/<%= @demo_day[:video_id] %>" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>


    <div class="stories-container">
      <div class="story-container popular-stories">
      Discover our alumni stories
      </div>
      <% @stories.each do |story| %>
        <div class="story-container">
          <div class="story-card">
            <main>
              <div class="story-card-title">
                <%= story["title"][locale.to_s]  %>
              </div>
              <div class="story-card-summary">
                <%= markdown story['summary'][locale.to_s] %>
              </div>
              <div class='story-card-footer'>
                <%= render 'stories/user_infos', story: story %>
              </div>
            </main>
            <aside>
              <div class="background perpetua" id="<%= story["alumni"]["github_nickname"] %>" style="background-image: url('<%= story["picture"]%>')">
              </div>
            </aside>
            <%= link_to "", story_path(id: story["slug"]), class: "story-card-link" %>
          </div>
        </div>
      <% end %>
    </div>

    <h2 class='section-title-home section-title-home-small'>
      <div class='section-title-home-content'>
        <%= t(".our_students_projects", default: "Les projets de nos élèves") %>
      </div>
    </h2>


    <div class="projects-list">
      <% @projects.each do |project| %>
        <% project = OpenStruct.new project %>
        <div class="project-item-container">
          <a class='project-item-url' target='_blank' href=<%= project.url %>></a>
          <div class="project-item">
            <div class='project-item-head'>
              <div class="project-thumbnail" style="background: url(<%= project.card %>);background-size:cover;background-position:center center;">
              </div>
            </div>
            <div class="project-item-infos">
              <div class="project-item-infos-left">
                <div class="project-item-name">
                  <%= project.name %>
                </div>
                <div class="project-item-tagline">
                  <%= project.tagline[I18n.locale.to_s] %>
                </div>
              </div>

              <div class="project-item-makers">
                <% project.makers.each do |maker| %>
                  <% maker = OpenStruct.new maker %>
                  <div class="project-item-maker">
                    <a href=<%= "http://alumni.lewagon.org/#{maker.github_nickname}" %> target='_blank'>
                      <img src=<%= maker.thumbnail %> class='avatar' />
                    </a>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>



<%= render partial: "shared/testimonials", locals: {number: 20} %>

