<% count = 1000 %>
<% if @statistics && @statistics['alumni'] && @statistics['alumni']['total'].is_a?(Integer) %>
  <% count = @statistics['alumni']['total'] %>
<% end %>

<%= content_for(:title)       { (t ".meta_title").html_safe }       %>
<%= content_for(:description) { t ".meta_description_html", count: count } %>
<%= content_for(:image_url) { image_url 'social/alumni_card.jpg' } %>


<h1>
  <%= t(".our_alumni_details_html", count: (count / 10) * 10) %>
</h1>

<% if @stories %>
<div class="container stories-container">
  <div id="stories_container">
    <%= render 'more_stories', stories: @stories %>
  </div>
  <div id="paginator">
    <%= link_to_next_page @stories, t(".show_more_stories"), remote: true, param_name: :story_page,id: 'load_more_stories', class: 'more-stories' %>
  </div>
</div>
<% end %>

<%= render "shared/testimonials_new" %>

