<p><%= t('prospect_mailer.send_syllabus.hello', name: @prospect.name.blank? ? "there" : @prospect.name) %></p>

<p><%= t('prospect_mailer.send_syllabus.thank_you') %></p>

<p><%= t('prospect_mailer.send_syllabus.primary_content', city: @city.name, starts_at: l(Date.parse(@next_batch.starts_at), format: :long), ends_at: l(Date.parse(@next_batch.ends_at), format: :long)) %></p>

<%= link_to t('prospect_mailer.send_syllabus.cta', city: @city.slug), apply_en_url(@city.slug), target: "_blank" %>

<p><%= t('prospect_mailer.send_syllabus.secondary_content') %></p>

<p><%= t('prospect_mailer.send_syllabus.help') %></p>

<p><%= t('prospect_mailer.send_syllabus.wishes') %></p>

<p><%= t('prospect_mailer.send_syllabus.signature') %></p>
