<% cache [ 'features', locale, wrapper_up ] do %>
<div class="features-wrapper <%= wrapper_up ? 'up' : nil %>">
  <div class="container features-container">
    <h2 class='section-title-home'>
      <div class='section-title-home-content' style="font-size:30px;">
        <%= t(".pedagogy_matters_html") %>
      </div>
    </h2>
    <div class='features'>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon yellow'>
            <i class='mdi mdi-laptop'></i>
          </div>
          <h2 class='feature-title'>
            <%= t(".web_development") %>
          </h2>
        </div>
        <div class='feature-body'>
          <%= t(".web_development_details") %><%= link_to t(".see_all"), send(:"program_#{locale.to_s.underscore}_path") %>
        </div>
      </div>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon purple'>
            <i class='mdi mdi-keyboard-variant'></i>
          </div>
          <h2 class='feature-title'>
            <%= t(".software_engineer_html") %>
          </h2>
        </div>
        <div class='feature-body'>
          <%= t(".software_engineer_details") %>
        </div>
      </div>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon green'>
          <i class='mdi mdi-source-pull'></i>
          </div>
          <h2 class='feature-title'>
            <%= t(".technical_workflow") %>
          </h2>
        </div>
        <div class='feature-body'>
          <%= t(".technical_workflow_details_html") %>
        </div>
      </div>
       <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon orange'>
            <i class='mdi mdi-auto-fix'></i>
          </div>
          <h2 class='feature-title'>
            <%= t(".startup_toolkit") %>
          </h2>
        </div>
        <div class='feature-body'>
          <%= t(".startup_toolkit_details") %>
        </div>
      </div>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon blue'>
            <i class='mdi mdi-cube-outline'></i>
          </div>
          <h2 class='feature-title'>
            <%= t(".build_product") %>
          </h2>
        </div>
        <div class='feature-body'>
          <%= t(".build_product_details") %><%= link_to t(".checkout"), alumni_path %>
        </div>
      </div>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon red'>
            <i class='mdi mdi-wallet-travel'></i>
          </div>
          <h2 class='feature-title'>
            <%= t(".land_a_job") %>
          </h2>
        </div>
        <div class='feature-body'>
          <%= t(".land_a_job_details") %>
        </div>
      </div>
    </div>
    <div class="text-center" style="margin-top: 50px;">
      <%= link_to t(".read_full_program"), send(:"program_#{locale.to_s.underscore}_path"), class: 'link-big' %>
    </div>
  </div>
</div>
<% end %>
