<% cache [ 'footer', locale: I18n.locale, city: @city ] do %>
<div id="footer">
  <div class="container">
    <%= react_component 'NewsletterForm', {
      i18n: {
        title: t(".title"),
        retry: t(".retry"),
        error: t(".error")
      },
      city_id: @city ? @city['id'] : nil,
      token: form_authenticity_token
    }, prerender: false %>

    <div class='brand-footer'>
      <%= render "shared/logos/logo_red_square", width: "100px" %>
    </div>


    <div class="flex">
      <div class='footer-section'>
        <h3>
          <%= t(".our_videos")%>
        </h3>

        <div class='footer-section-links'>
          <div>
            <a href="https://ondemand.lewagon.org/" target='_blank'>Le Wagon On Demand</a>
          </div>
          <div>
            <a href="https://www.youtube.com/playlist?list=PLkbmdtbypn7RqYSvBqewZNtf9uFEYs0KN" target="_blank">Workshops pour débutants</a>
          </div>
          <div>
            <a href="https://www.youtube.com/playlist?list=PLkbmdtbypn7QRxsCuR1tKhUD4g_JEh_4a" target="_blank">Apero-Talks</a>
          </div>
          <div>
            <a href="https://www.youtube.com/playlist?list=PLkbmdtbypn7R_BN6nFX-XZc7uDyMSxhye" target="_blank">Demo Days</a>
          </div>
        </div>
      </div>
      <div class='footer-section'>
        <h3>
          <%= t(".find_a_city")%>
        </h3>

        <div class='footer-section-links'
             <%= I18n.locale == :fr ? 'style="font-size: 14px"'.html_safe : nil %>>
          <% @cities.each do |city| %>
            <div>
              <%= link_to city_path(city: city["slug"]) do %>
                <% if @city && @city['slug'] == city['slug'] %>
                  <%= I18n.locale == :fr ? 'Formation développeur web à ' : nil %>
                  <strong><%= city["name"] %></strong>
                <% else %>
                  <%= I18n.locale == :fr ? 'Formation développeur web à ' : nil %>
                  <%= city["name"] %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class='footer-section'>
        <h3>
          <%= t(".about_us")%>
        </h3>

        <div class='footer-section-links'>
          <div>
            <%= link_to 'Stack', stack_path %>
          </div>
          <div>
            <a href="mailto:contact@lewagon.org">Contact</a>
          </div>
          <div>
            <a href="/blog">Blog</a>
          </div>
          <div>
            <%= link_to t(".press"), send(:"press_#{locale}_path") %>
          </div>
          <div>
            <a href="http://alumni.lewagon.org" target="_blank"><%= t(".alumni_platform") %></a>
          </div>
        </div>
      </div>

      <div class='footer-section'>
        <h3>
          <%= t(".follow_us")%>
        </h3>

        <div class='footer-section-links'>
          <div>
            <a href="https://medium.com/le-wagon" target="_blank">Medium</a>
          </div>
          <div>
            <a href="https://www.facebook.com/lewagonformation" target="_blank">Facebook</a>
          </div>
          <div>
            <a href="https://twitter.com/lewagonparis" target="_blank">Twitter</a>
          </div>
          <div>
            <a href="https://youtube.com/lewagon" target="_blank">Youtube</a>
          </div>
          <div>
            <a href="https://www.linkedin.com/company/le-wagon/" target="_blank">Linkedin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
