<% cache [ 'footer', locale: I18n.locale, city: @city ] do %>
<div id="footer">
  <div class="container">
    <%= react_component 'NewsletterForm', {
      i18n: {
        title: t(".title"),
        subtitle: t(".subtitle_html") + (@city ? t(".subtitle_end", city: @city['name']) : nil),
        retry: t(".retry"),
        error: t(".error"),
        subscribe: t(".subscribe"),
        subscribing: t(".subscribing")
      },
      city_id: @city ? @city['id'] : nil,
      token: form_authenticity_token
    }, prerender: false %>

    <div class='brand-footer'>
      <%= render "shared/logos/logo_red_square", width: "100px" %>
    </div>


    <div class="flex">
      <div class='footer-section'>
        <h3>
          <%= t(".our_videos")%>
        </h3>

        <div class='footer-section-links'>
          <div>
            <a href="https://ondemand.lewagon.org/" target='_blank'>
              Le Wagon On Demand 🇫🇷
            </a>
          </div>
          <% if I18n.locale == :en %>
            <div>
              <a href="https://www.youtube.com/playlist?list=PLkbmdtbypn7TwufH3veAJ6dweRvTw57tO" target="_blank">
                Beginner Workshops
              </a>
            </div>
          <% else %>
            <div>
              <a href="https://www.youtube.com/playlist?list=PLkbmdtbypn7RqYSvBqewZNtf9uFEYs0KN" target="_blank">Workshops pour débutants</a>
            </div>
          <% end %>
          <div>
            <a href="https://www.youtube.com/playlist?list=PLkbmdtbypn7QRxsCuR1tKhUD4g_JEh_4a" target="_blank">Apero-Talks</a>
          </div>
        </div>
      </div>
      <div class='footer-section'>
        <h3>
          <%= t(".find_a_city")%>
        </h3>

        <div class='footer-section-links'
          <%= I18n.locale == :fr ? 'style="font-size: 14px"'.html_safe : nil %>>
          <% @cities.each do |city| %>
            <div>
              <%= link_to city_path(city: city["slug"]) do %>
                <% if @city && @city['slug'] == city['slug'] %>
                  <% city_name = "<strong>#{city["name"]}</strong>".html_safe %>
                <% else %>
                  <% city_name = city["name"] %>
                <% end %>

                <%= t ".bootcamp_in_city_html", city: city_name %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class='footer-section'>
        <h3>
          <%= t(".about_us")%>
        </h3>

        <div class='footer-section-links'>
          <div>
            <%= link_to t(".about"), send(:"about_#{locale.to_s.underscore}_path") %>
          </div>
          <div>
            <%= link_to "Blog", blog_path %>
          </div>
          <div>
            <%= link_to 'Stack', stack_path %>
          </div>
          <div>
            <a href="mailto:contact@lewagon.org">Contact</a>
          </div>
          <div>
            <%= link_to 'Blog', blog_path %>
          </div>
          <div>
            <%= link_to 'Shop', shop_path %>
          </div>
          <div>
            <%= link_to t(".press"), send(:"press_#{locale.to_s.underscore}_path") %>
          </div>
          <div>
            <a href="//www.iubenda.com/privacy-policy/7967062" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
          </div>
        </div>
      </div>

      <div class='footer-section'>
        <h3>
          <%= t(".follow_us")%>
        </h3>

        <div class='footer-section-links'>
          <div>
            <a href="https://medium.com/le-wagon" target="_blank">Medium</a>
          </div>
          <div>
            <a href="https://www.facebook.com/lewagon" target="_blank">Facebook</a>
          </div>
          <div>
            <a href="https://twitter.com/lewagonparis" target="_blank">Twitter</a>
          </div>
          <div>
            <a href="https://youtube.com/lewagon?sub_confirmation=1" target="_blank">Youtube</a>
          </div>
          <div>
            <a href="https://www.linkedin.com/company/le-wagon/" target="_blank">Linkedin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
