<span class='flag-container'>
  <div>
    <div class="dropdown">
      <div class="dropdown-toggle" type="button" id="languageMenuToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <% if locale == :fr %>
          <%= render 'shared/french_flag' %>
        <% elsif locale == :"pt-BR" %>
          <%= render 'shared/brazilian_flag' %>
        <% else %>
          <%= render 'shared/english_flag' %>
        <% end %>
        <span class="caret"></span>
      </div>

      <ul class="dropdown-menu" aria-labelledby="languageMenuToggle" id="languageMenu">
        <li>
          <p class="header">Choose your language</p>
        </li>
        <li>
          <%= link_to locale_current_url_for(:en), class: ("active" if locale == :en) do %>
            <%= render 'shared/english_flag' %> <p>English</p>
          <% end %>
        </li>
        <li>
          <%= link_to locale_current_url_for(:fr), class: ("active" if locale == :fr) do %>
            <%= render 'shared/french_flag' %> <p>Francais</p>
          <% end %>
        </li>
        <li>
          <%= link_to locale_current_url_for(:"pt-BR"), class: ("active" if locale == :"pt-BR") do %>
            <%= render 'shared/brazilian_flag' %> <p>Brazilian</p>
          <% end %>
        </li>
      </ul>
    </div>

  </div>
</span>
