<span class='flag-container'> <div>
    <div class="dropdown">
      <div class="dropdown-toggle" type="button" id="languageMenuToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <% if locale == :fr %>
          <%= render 'shared/french_flag' %>
        <% elsif locale == :"pt-BR" %>
          <%= render 'shared/brazilian_flag' %>
        <% elsif locale == :"zh-CN" %>
          <%= render 'shared/chinese_flag' %>
        <% elsif locale == :es %>
          <%= render 'shared/spanish_flag' %>
        <% elsif locale == :ja %>
          <%= render 'shared/japanese_flag' %>
        <% else %>
          <%= render 'shared/english_flag' %>
        <% end %>
        <span class="caret"></span>
      </div>

      <ul class="dropdown-menu" aria-labelledby="languageMenuToggle" id="languageMenu">
        <li>
          <%= link_to locale_current_url_for(:en), class: ("active" if locale == :en) do %>
            <%= render 'shared/english_flag' %> <p>English</p>
          <% end %>
        </li>
        <li>
          <%= link_to locale_current_url_for(:fr), class: ("active" if locale == :fr) do %>
            <%= render 'shared/french_flag' %> <p>Français</p>
          <% end %>
        </li>
        <li>
          <%= link_to locale_current_url_for(:"pt-BR"), class: ("active" if locale == :"pt-BR") do %>
            <%= render 'shared/brazilian_flag' %> <p>Português</p>
          <% end %>
        </li>
        <li>
          <%= link_to locale_current_url_for(:es), class: ("active" if locale == :es) do %>
            <%= render 'shared/spanish_flag' %> <p>Español</p>
          <% end %>
        </li>
        <li>
          <%= link_to locale_current_url_for(:"zh-CN"), class: ("active" if locale == :"zh-CN") do %>
            <%= render 'shared/chinese_flag' %> <p>中文</p>
          <% end %>
        </li>
        <li>
          <%= link_to locale_current_url_for(:ja), class: ("active" if locale == :ja) do %>
            <%= render 'shared/japanese_flag' %> <p>日本語</p>
          <% end %>
        </li>
      </ul>
    </div>

  </div>
</span>
