<% if @testimonials %>
  <% @testimonials.each_slice(2) do |testimonials| %>
    <div class="row">
      <% testimonials.each do |testimonial| %>
        <div class="col-md-6">
          <div class="testimonial-card">
            <div class="testimonial-body">
              <%= image_tag testimonial.picture_url, class: 'alumni-picture' %>
              <div class='testimonial-content'>
                <%= raw testimonial.content_html %>
              </div>
              <div class="testimonial-author">
                <div class="testimonial-user-name">
                  <%= testimonial.first_name %>  <%= testimonial.last_name %>
                </div>
                <div class='testimonial-user-batch'>
                  Batch #<%= testimonial.batch_slug %>, <%= testimonial.city.name %>
                </div>
                <div class='testimonial-user-batch'>
                  <%= t('.published_on') %> <%= testimonial.origin %>, <%= testimonial.publication_date.strftime('%d %b %Y') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
