<div class="<%= full_item ? ' dropdown full-item' : 'dropdown' %> hidden-md hidden-lg">
  <a class='navbar-wagon-link-menu-wrapper' type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <div class='navbar-wagon-link-menu'></div>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li class="main">
      <%= link_to t("shared.navbar.menu.program"), send(:"program_#{locale}_path") %>
    </li>
    <li class='main'>
      <%= link_to "Alumni", alumni_path, locale: locale %>
    </li>
    <li class="main">
      <%= link_to t("shared.navbar.stories"), stories_path %>
    </li>
    <li class="main">
      <%= link_to 'FAQ', faq_path %>
    </li>
    <li class="main hidden-md hidden-lg">
      <%= link_to t('shared.navbar.apply'), send(:"apply_#{locale}_path") %>
    </li>
    <li class="main hidden-md hidden-lg">
      <%= render 'shared/language_selector' %>
    </li>
  </ul>
</div>
