<nav class="navbar-wagon navbar-wagon-white">
  <div class="container navbar-wagon-container">
    <div class='navbar-wagon-side'>
      <%= render 'shared/navbar_dropdown', full_item: false %>
      <div class="hidden-xs hidden-sm">
        <%= render 'shared/language_selector' %>
      </div>

      <div class="left hidden-sm hidden-xs">
        <div class="navbar-wagon-item has-no-padding">
          <div class="dropdown">
            <%= link_to t(".menu.cities"),"#", class: "hidden-xs  dropdown-toggle navbar-wagon-link ", id: "navbar-wagon-menu", data: { toggle: 'dropdown'} %>
            <ul class="dropdown-menu dropdown-menu-right dropdown-cities">
              <% @cities.each do |city| %>
                <li>
                  <%= link_to city["name"], city_path(city: city["slug"]) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <hr class='hidden-xs'>
        <div class="dropdown">
          <%= link_to t(".menu.program"),"#", class: "hidden-xs  dropdown-toggle navbar-wagon-link ", id: "navbar-wagon-menu", data: { toggle: 'dropdown'} %>
          <ul class="dropdown-menu dropdown-menu-right dropdown-cities">
            <li class="dropdown-header"><%= t ".menu.on_site" %></li>
            <li class="main marged-bottom">
              <%= link_to t(".menu.fullstack_program"), send(:"program_#{locale}_path") %>
            </li>

            <li class="dropdown-header online-program-header">
              <%= t ".menu.online" %>
              <% if I18n.locale != :fr %>
                <%= render 'shared/french_flag' %>
              <% end %>
            </li>
            <% Static::ONDEMAND_TRACKS.each do |track| %>
              <li>
                <a href="https://ondemand.lewagon.org/tracks/<%= track[:slug] %>/go?utm_medium=referral&utm_source=www.lewagon.com&utm_campaign=navbar_wagon" target='_blank'>
                  <%= track[:title] %>
                  <% if track[:new] %>
                  <span class="new">new</span>
                  <% end %>
               </a>
              </li>
            <% end %>
            <li>
              <a href="https://ondemand.lewagon.org/gift?utm_medium=referral&utm_source=www.lewagon.com&utm_campaign=navbar_wagon" target="_blank">
                <i class="fa fa-gift"></i> <em>Offrez une track</em>
              </a>
            </li>
          </ul>
        </div>
        <hr class="hidden-xs">
        <%= link_to "FAQ", faq_path, class: 'navbar-wagon-link' %>
        <hr class='fake-hr hidden-sm hidden-xs'>
      </div>
      </div>
      <%= link_to root_path, class: 'wagon-link' do %>
        <%= render "shared/logos/logo_red_square" %>
      <% end %>
      <div class="navbar-wagon-side text-right hidden-sm hidden-xs">
        <hr class='fake-hr hidden-xs'>
        <%= link_to t(".alumni", default: "Alumni"), alumni_path, class: " hidden-xs navbar-wagon-link", data: {text: t(".alumni", default: "Alumni")} %>
        <hr class='hidden-xs'>
        <%= link_to t(".stories"), stories_path, class: "hidden-xs navbar-wagon-link", data: {text: t(".stories")} %>
        <hr class="hidden-xs">
        <%= link_to "Blog", blog_path, class: "navbar-wagon-link" %>
        <div class="left">
          <%= link_to t(".apply"), send(:"apply_#{locale}_path"), class: 'navbar-wagon-link-cta' %>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="header-fixed">
  <div class="header-inner">
    <div class="container flex align-center">
      <%= render 'shared/navbar_dropdown', full_item: true %>
      <div class='header-fixed-logo'>
        <a class='wagon-link' href="/">
          <%= render "shared/logos/logo_red_square" %>
        </a>
      </div>
      <div class="header-inner-cta">
        <%= link_to t(".apply"), send(:"apply_#{locale}_path"), class: 'navbar-wagon-link-cta' %>
      </div>
    </div>
  </div>
</div>
