<% cache ['navbar',
    Digest::SHA1.hexdigest(@top_bar_message || ""),
    Digest::SHA1.hexdigest(@top_bar_cta || ""),
    @hide_language_selector,
    @city_groups.map { |cg| cg["cities"].map { |c| c["name"] } }.flatten,
    params[:action],
    Static::ONDEMAND_TRACKS.map { |track| track[:slug] },
    I18n.locale ] do %>

<% if @top_bar_message.present? && @top_bar_cta.present? %>
  <div id="sticky-banner">
    <i><%= @top_bar_message %>, <%= link_to @top_bar_cta, @top_bar_url %> ⚛️</i>
  </div>
<% end %>

<nav class="navbar-wagon navbar-wagon-white <% if @top_bar_message.present? %>navbar-jump<% end %>">
  <div class="container navbar-wagon-container">
    <div class='navbar-wagon-side'>
      <%= render 'shared/navbar_dropdown', full_item: false %>
      <% unless @hide_language_selector %>
        <div class="hidden-xs hidden-sm">
          <%= render 'shared/language_selector' %>
        </div>
      <% end %>

      <div class="left hidden-sm hidden-xs">
        <div class="navbar-wagon-item has-no-padding">
          <div class="dropdown">
            <%= link_to t(".menu.cities"),"#", class: "hidden-xs  dropdown-toggle navbar-wagon-link ", id: "navbar-wagon-menu", data: { toggle: 'dropdown'} %>
            <div class="dropdown-menu dropdown-menu-right dropdown-cities">
              <div class="dropdown-cities-container">
                <% @city_groups.each do |city_group| %>
                  <ul class="list-unstyled">
                    <li class="title">
                      <%= city_group["group"].upcase %>
                      <%= city_group["icon"].html_safe %>
                    </li>
                    <% city_group["cities"].each do |city| %>
                      <li>
                        <%= link_to city["name"], city_path(city: city["slug"]), style: "font-weight: 200; color: black" %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <hr class='hidden-xs'>


        <div class="navbar-wagon-item has-no-padding">
          <div class="dropdown">
            <%= link_to t(".menu.program"),"#", class: "hidden-xs  dropdown-toggle navbar-wagon-link ", id: "navbar-wagon-menu", data: { toggle: 'dropdown'} %>
            <div class="dropdown-menu dropdown-menu-right dropdown-cities">
              <div class="dropdown-cities-container <%= 'text-center' unless I18n.locale == :fr %>">
                  <ul class="list-unstyled">
                    <li class="title">
                      <%= t ".menu.on_site", default: "Onsite" %>
                    </li>
                    <li>
                      <%= link_to t(".menu.fullstack_program"), send(:"program_#{locale.to_s.underscore}_path"), class: "cta-enterprise red" %>
                    </li>
                    <% unless I18n.locale == :fr %>
                      </ul>
                      <ul class="list-unstyled">
                    <% end %>

                    <li class="title" style="<%= 'margin-top: 27px;' if I18n.locale == :fr %>">
                      <%= t ".menu.online", default: "Online" %>
                    </li>
                    <li style="padding: 3px 0px;">
                      <%= link_to t(".menu.free_track", default: "Free web-development track"), learn_path, class:  "cta-enterprise" %>
                    </li>
                  </ul>

                  <% if I18n.locale == :fr %>
                    <ul class="list-unstyled">
                      <li class="title">
                        <%= t ".menu.ondemand", default: "On-Demand" %>
                      </li>
                        <% Static::ONDEMAND_TRACKS.each do |track| %>
                          <li style="padding: 3px 0px;text-align: left;">
                            <a href="https://ondemand.lewagon.org/tracks/<%= track[:slug] %>/go?utm_medium=referral&utm_source=www.lewagon.com&utm_campaign=navbar_wagon" target='_blank' style="font-size: 15px; font-weight: 100;">
                              <%= track[:title] %>
                              <% if track[:new] %>
                              <span class="new">new</span>
                              <% end %>
                           </a>
                          </li>
                        <% end %>
                        <li style="padding: 3px 0px;text-align: left;">
                          <a href="https://ondemand.lewagon.org/gift?utm_medium=referral&utm_source=www.lewagon.com&utm_campaign=navbar_wagon" target="_blank" style="font-size: 15px; font-weight: 100;">
                            <i class="fa fa-gift"></i> <em>Offrez une track</em>
                          </a>
                        </li>
                    </ul>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
        <hr class="hidden-xs">
        <%= link_to "FAQ", faq_path, class: 'navbar-wagon-link' %>
        <hr class='fake-hr hidden-sm hidden-xs'>
      </div>
      </div>
      <%= link_to root_path, class: 'wagon-link hidden-sm hidden-md hidden-lg' do %>
        <%= render "shared/logos/logo_red" %>
      <% end %>
      <%= link_to root_path, class: 'wagon-link hidden-xs' do %>
        <%= render "shared/logos/logo_red_square" %>
      <% end %>
      <% if params[:action] =~ /hec/ %>
        <div class="navbar-hec-logo">
          <%= render "shared/logos/hec" %>
        </div>
      <% elsif @live %>
        <%= link_to live_path, class: 'live-on' do %>
          <i class="dot fa fa-circle fa-pulse"></i> LIVE
        <% end %>
      <% end %>
      <div class="navbar-wagon-side text-right hidden-sm hidden-xs">
        <hr class='fake-hr hidden-xs'>
        <%= link_to "Demoday", demoday_index_path, class: "navbar-wagon-link" %>
        <hr class="hidden-xs">
        <%= link_to t(".alumni", default: "Alumni"), alumni_path, class: " hidden-xs navbar-wagon-link", data: {text: t(".alumni", default: "Alumni")} %>
        <hr class='hidden-xs'>
        <div class="navbar-wagon-item has-no-padding">
          <div class="dropdown">
            <%= link_to t(".employers"),"#", class: "hidden-xs  dropdown-toggle navbar-wagon-link ", id: "navbar-wagon-menu", data: { toggle: 'dropdown'} %>
            <div class="dropdown-menu dropdown-menu-right dropdown-cities">
              <div class="dropdown-cities-container">
                  <ul class="list-unstyled">
                    <li class="title text-center" style="font-weight: 100;margin-top: 10px;">
                      <%= t(".recruitment", default: "Recruitment") %> 🌟
                    </li>
                    <li class="text-center">
                      <%= link_to employers_path, class: "cta-enterprise" do %>
                        <%= t(".work", default: "Work with our alumni") %>
                      <% end %>
                    </li>
                  </ul>
                  <ul class="list-unstyled">
                    <li class="title text-center" style="font-weight: 100;margin-top: 10px;">
                      <%= t(".workshops", default: "Corporate Workshop") %> 🚀
                    </li>
                    <li class="text-center">
                      <%= link_to enterprise_path, class: "cta-enterprise" do %>
                        <%= t(".train", default: "Train your company") %>
                      <% end %>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>

        <% unless @hide_banner_apply_button %>
          <div class="left" id="navbar-apply">
            <%= content_for?(:navbar_apply_button) ? yield(:navbar_apply_button) : render('shared/navbar_apply_button') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
<div class="header-fixed">
  <div class="header-inner">
    <div class="container flex align-center">
      <%= render 'shared/navbar_dropdown', full_item: true %>
      <div class='header-fixed-logo'>
        <a class='wagon-link' href="/">
          <%= render "shared/logos/logo_red_square" %>
        </a>
      </div>
      <div class="header-inner-cta">
        <%= link_to t(".apply"), send(:"apply_#{locale.to_s.underscore}_path"), class: 'navbar-wagon-link-cta' %>
      </div>
    </div>
  </div>
</div>
<% end %>
