<div class="testimonials-wrapper">
  <div class="container">
    <h2 class="section-title-home section-title-home-small">
      <div class="section-title-home-content" style="background: white;">
        <%= t(".what_our_students_say") %>
      </div>
    </h2>
    <p class="text-muted text-center section-title-home-subtitle">
      <%= t ".students_think_of_us" %>
    </p>
    <div class="testimonials">
      <% @testimonials.take(12).each do |testimonial| %>
        <% testimonial = structure testimonial %>
        <div class="testimonial-container">
          <div class="testimonial">
            <div class='green-quote'>
              <i class='mdi mdi-format-quote'></i>
            </div>
            <div class="testimonial-body">
              <div class='testimonial-content'>
                <%= testimonial.content %>
              </div>
            </div>
          </div>
          <div class="testimonial-user">
            <%= cl_adaptive_image_tag testimonial.user.photo_path, width: 50, height: 50, crop: :fill %>
            <div class='testimonial-user-info'>
              <div class="testimonial-user-name">
                <%= testimonial.user.first_name %>  <%= testimonial.user.last_name %>
              </div>
              <div class='testimonial-user-batch'>
                Batch #<%= testimonial.user.batch.slug %>, <%= testimonial.user.batch.city.name%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="testimonials-blogs">
      <h3><%= t ".more_reviews" %></h3>
      <a href="http://techcrunch.com/2016/04/21/how-le-wagon-is-quietly-becoming-a-major-coding-bootcamp-in-europe/" target="_blank" class="testimonials-blog">
        <%= image_tag "techcrunch-testimonial.png" %>
      </a>
      <a href="https://www.coursereport.com/schools/le-wagon#/reviews" target="_blank" class="testimonials-blog">
        <%= image_tag "course_report.png" %>
      </a>
      <a href="https://www.quora.com/What-is-your-review-of-Le-Wagon" target="_blank" class="testimonials-blog">
        <%= image_tag "quora.png" %>
      </a>
      <a href="https://www.switchup.org/bootcamps/le-wagon" target="_blank" class="testimonials-blog">
        <%= image_tag "switchup.png" %>
      </a>
    </div>
  </div>
</div>
