<% cache [ 'testimonials', locale ] do %>


<div class="testimonials-services">
  <h2><i><%= @reviews %></i> <%= t(".love_messages") %></h2>
  <div class="services-logos">
    <a href="https://techcrunch.com/2016/04/21/how-le-wagon-is-quietly-becoming-a-major-coding-bootcamp-in-europe/" target="_blank">
      <%= image_tag "techcrunch-testimonial.png" %>
    </a>
    <a href="https://www.switchup.org/bootcamps/le-wagon" target="_blank">
      <%= image_tag "switchup_badge.png" %>
    </a>
    <a href="https://www.quora.com/What-is-your-review-of-Le-Wagon" target="_blank">
      <%= image_tag "quora.png" %>
    </a>
     <a href="https://www.coursereport.com/schools/le-wagon#/reviews" target="_blank">
      <%= image_tag "course_report.png" %>
    </a>
  </div>
</div>

<%# Cache strategy: do not randomize testimonials at each page load %>

  <div class="container-fluid testimonials-wrapper">
    <%= image_tag 'quotes.svg', class: 'quotes-icon' %>
    <div id="testimonials-container" class="container testimonials-container">
      <%= render 'shared/more_testimonials', testimonials: @testimonials %>
    </div>
    <div id="paginator-testimonials">
      <%= link_to_next_page @testimonials,  t(".show_more_testimonials"), param_name: :testimonial_page,  remote: true, id: 'load_more_testimonials', class: 'more-testimonials' %>
    </div>
  </div>
<% end %>