<%= content_for(:title)       { t ".title" }       %>
<%= content_for(:description) { t ".description" } %>
<%= content_for(:image_url) { image_url 'social/employers_facebook_card.png' } %>

<div class="banner-enterprise" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.2) 80%), url(<%= image_path 'banners/header-employers.jpg' %>)">
  <div class="banner-content">
    <h1>
      Join our hiring network<br>
      and work with our alumni.
    </h1>
    <p>
      Recruitment is a <strong>long-term relationship</strong>. Connect to our alumni through events, <br>job board and great workshops to promote your company's culture.
    </p>
    <a class="typeform-share button btn btn-danger" href="https://lewagon.typeform.com/to/LOs0uR" data-mode="popup" target="_blank" > <%= t('.apply', :default => 'Learn with Le Wagon') %> </a>
  </div>
</div>


<% positions = @client.positions %>

<div id="enterprise-hiring">
  <div class="enterprise-nav">
  <%= image_tag positions.first["company"]["logo"], width: 120, class: "active", "data-target" => "##{positions.first['alumni']['first_name']}-#{positions.first['alumni']['last_name']}" %>
  <% positions[1...(positions.size)].each do |position| %>
    <%= image_tag position["company"]["logo"], width: 120, "data-target" => "##{position['alumni']['first_name']}-#{position['alumni']['last_name']}"%>
  <% end %>
  </div>
  <div class="alumni-preview-container">
    <div class="alumni-preview">
      <div class="alumni-preview">
        <div class="alumni-preview-content" id="<%= positions.first["alumni"]["first_name"]%>-<%= positions.first["alumni"]["last_name"]%>">
          <h2>Meet <%=positions.first['alumni']['first_name']%> 👋</h2>
          <%= cl_adaptive_image_tag positions.first["alumni"]["photo_path"], width: 120, height: 120, crop: :fill, class: "img-circle" %>
          <h3><%= positions.first["alumni"]["first_name"]%> <%= positions.first["alumni"]["last_name"]%></h3>
          <h4>
            Batch #<%= positions.first["alumni"]["slug"]%>, <strong><%= positions.first["alumni"]["city"]%></strong>
          </h4>
          <p class="alumni-title"><%= positions.first["title"]%> <br>at <strong><a href="<%= positions.first["company"]["url"]%>" target="_blank" class="company-link"><%= positions.first["company"]["name"] %></a></strong></p>
          <a href="http://github.com/<%= positions.first["alumni"]["github_nickname"]%>" target="_blank" class="github-link">
            <i class="fa fa-github"></i> Github profile
          </a>
        </div>
      </div>
      <% positions[1...(positions.size)].each do |position| %>
        <div class="alumni-preview">
          <div class="alumni-preview-content hidden" id="<%= position["alumni"]["first_name"]%>-<%= position["alumni"]["last_name"]%>">
            <h2>Meet <%=position['alumni']['first_name']%> 👋</h2>
            <%= cl_adaptive_image_tag position["alumni"]["photo_path"], width: 120, height: 120, crop: :fill, class: "img-circle" %>
            <h3>
              <%= position["alumni"]["first_name"]%> <%= position["alumni"]["last_name"]%>
            </h3>
            <h4>
              Batch #<%= position["alumni"]["slug"]%>, <strong><%= position["alumni"]["city"]%></strong>
            </h4>
            <p class="alumni-title"><%= position["title"]%> <br>at <strong><a href="<%= position["company"]["url"]%>" target="_blank" class="company-link">
              <%= position["company"]["name"] %></a></strong>
            </p>
            <a href="http://github.com/<%= position["alumni"]["github_nickname"]%>" target="_blank" class="company-link">
             <i class="fa fa-github"></i> Github profile
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<div id="enterprise-last-event">
  <h2 class="text-center"><%= t(".watch", default: "Watch our last job fair") %></h2>
  <div id="video-container" style="position:relative;max-width: 700px; min-height: 400px;
    margin: auto;margin-top: 50px;"><iframe src="https://www.youtube.com/embed/iCcKaF1sDl0" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height: 100%;left:0" allowfullscreen></iframe></div>
</div>


<div id="employers-why-overlay">
  <div class="container">
    <h2 class="section-title-home section-title-home-small">
      <div class="section-title-home-content">
        <%= t ".why" %>
      </div>
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p class="employers-why-text">
          <%= t ".reasons" %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class='alumni-strength'>
          <div class='alumni-strength-header'>
            <h2 class='alumni-strength-title'>
              <%= render "shared/unique" %>
              <%= t ".exceptional" %>
            </h2>
          </div>
          <div class='alumni-strength-body'>
            <p>
              <%= t ".exceptional_details" %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
      <div class='alumni-strength'>
        <div class='alumni-strength-header'>
          <h2 class='alumni-strength-title'>
            <%= render "shared/various_background" %>
            <%= t ".unique" %>
          </h2>
        </div>
        <div class='alumni-strength-body'>
          <p>
            <%= t ".unique_details" %>
          </p>
        </div>
      </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class='alumni-strength'>
            <h2 class='alumni-strength-title'>
              <%= render "shared/operational" %>
              <%= t ".operational" %>
            </h2>
          </div>
          <div class='alumni-strength-body'>
            <p>
              <%= t ".operational_details" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render "shared/positions" %>


<div class="banner-container">
  <div class="banner banner-top banner-gradient text-center" style="background-image: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url('<%= image_path "banners/8.jpg" %>'); height: 80vh;" id="banner-city">
    <div>
      <h3 style="font-size: 40px;"><%= t ".wanna_join" %></h3>
      <p style="margin-bottom: 10px;font-size: 23px"><%= t ".signup" %></p>
      <a href="https://lewagon.typeform.com/to/bKCXIw" class="btn btn-danger btn-lg employers-apply" style="padding: 30px 35px;font-size: 20px" target="_blank">Sign up</a>
    </div>
  </div>
</div>

