<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('https://d1gofzrmx0fcbg.cloudfront.net/production/stories/pictures/000/000/004/cover/cover-olivier.jpg?1446745432">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1 class='glitch'>
          Le Wagon Hiring Network
        </h1>
        <p>
          <%= t ".hiring_tagline_html" %>
        </p>
      </div>
    </div>
    <div class='banner-cta'>
    <a href="#" class='banner-cta-item btn-danger' style="padding: 30px 35px;font-size: 20px;margin-left:0;"><%= t ".join_our_network" %></a>
    </div>
  </div>
</div>

<div id="employers-why-overlay">
  <div class="container">
    <h2 class="section-title-home section-title-home-small">
      <div class="section-title-home-content">
        <%= t ".why" %>
      </div>
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p class="employers-why-text">
          <%= t ".reasons" %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class='alumni-strength'>
          <div class='alumni-strength-header'>
            <h2 class='alumni-strength-title'>
              <%= render "shared/unique" %>
              <%= t ".exceptional" %>
            </h2>
          </div>
          <div class='alumni-strength-body'>
            <p>
              <%= t ".exceptional_details" %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
      <div class='alumni-strength'>
        <div class='alumni-strength-header'>
          <h2 class='alumni-strength-title'>
            <%= render "shared/various_background" %>
            <%= t ".unique" %>
          </h2>
        </div>
        <div class='alumni-strength-body'>
          <p>
            <%= t ".unique_details" %>
          </p>
        </div>
      </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class='alumni-strength'>
            <h2 class='alumni-strength-title'>
              <%= render "shared/operational" %>
              <%= t ".operational" %>
            </h2>
          </div>
          <div class='alumni-strength-body'>
            <p>
              <%= t ".operational_details" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render "shared/positions" %>


<div class="banner-container">
  <div class="banner banner-top banner-gradient text-center" style="background-image: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url('https://www.lewagon.com/assets/banners/8-5b3b011984d37ac59320d66c6c58f064930c59b9651ca53db7a6c3d2d283c67f.jpg'); height: 80vh;" id="banner-city">
    <div>
      <h3 style="font-size: 40px;"><%= t ".wanna_join" %></h3>
      <p style="margin-bottom: 10px;font-size: 23px"><%= t ".signup" %></p>
      <a href="#" class="btn btn-danger btn-lg employers-apply" style="padding: 30px 35px;font-size: 20px">Sign up</a>
    </div>
  </div>
</div>

<div id="employers-upcoming events">

</div>
