<%= content_for(:title)       { t ".title" }       %>
<%= content_for(:description) { t ".description" } %>
<%= content_for(:image_url) { image_url 'social/employers_facebook_card.png' } %>

<div class="banner-enterprise" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.2) 80%), url(<%= image_path 'banners/header-employers.jpg' %>)">
  <div class="banner-content container">
    <h1>
      <%= t(".hiring_tagline_html", default: "Join our hiring network<br>and work with our alumni.") %>
    </h1>
    <p>
      <%= t(".hiring_sub_tagline_html", default: "Recruitment is a <strong>long-term relationship</strong>. Connect to our alumni through regular events, <br>job board and great workshops to promote your company's culture.") %>
    </p>
    <a class="typeform-share button btn btn-danger" href="https://lewagon.typeform.com/to/LOs0uR" data-mode="popup" target="_blank" > <%= t('.apply', :default => "Work with Le Wagon's alumni") %> </a>
  </div>
</div>

<% positions = @client.positions %>

<div style="background: #F5F5F5; padding-bottom: 50px;">
  <div class="header" style="width:100%">
    <h2 class="text-center" style="text-transform: uppercase;"><%= t(".they", default: "They hire our alumni") %></h2>
  </div>
  <div id="enterprise-hiring" class="container">

    <% hot_names = %w(Uber Stripe Google Drivy Doctolib Aligolia Front Aircall) %>
    <% positions = positions.select {|position| hot_names.include?(position["company"]["name"])} + positions.reject {|position| hot_names.include?(position["company"]["name"])} %>

    <div class="enterprise-nav">
      <% first = true %>
      <% positions.each do |position| %>
        <div class="img-card <%= 'active' if first %>" data-target="#<%= position['alumni']['first_name'] %>-<%= position['alumni']['last_name']%>" data-toggle="tooltip" data-placement="top" title="<%= position["company"]["name"] %>">
          <%= image_tag position["company"]["logo"], width: 100%>
        </div>
        <% first = false %>
    <% end %>
    </div>
    <div class="alumni-preview-container hidden-sm hidden-xs">
      <% first = true %>
      <% positions.each do |position| %>
        <div class="alumni-preview <%= 'hidden' unless first %>" id="<%= position["alumni"]["first_name"]%>-<%= position["alumni"]["last_name"]%>">
          <div class="alumni-preview-content">
            <%= cl_adaptive_image_tag position["alumni"]["photo_path"], width: 120, height: 120, crop: :fill, class: "img-circle" %>
            <h3><%= position["alumni"]["first_name"]%> <%= position["alumni"]["last_name"]%></h3>
            <h4>
              Batch #<%= position["alumni"]["slug"]%>, <strong><%= position["alumni"]["city"]%></strong>
            </h4>
            <p class="alumni-title"><%= position["title"]%> <br>at <strong><a href="<%= position["company"]["url"]%>" target="_blank" class="company-link"><%= position["company"]["name"] %></a></strong></p>
            <a href="http://github.com/<%= position["alumni"]["github_nickname"]%>" target="_blank" class="github-link">
              <i class="fa fa-github"></i> Github profile
            </a>
          </div>
        </div>
        <% first = false %>
      <% end %>
    </div>
  </div>
</div>

<div id="enterprise-why-us" class="hidden-sm hidden-xs" style="min-height: 450px;">
  <div class="left-part">
    <h2>
      <%= t('.job_board', :default => "Access Le Wagon's job board") %>
    </h2>
    <%= t(".job_board_details_html", default: "<p>
         Get access to Le Wagon's job board to <strong>publish your offers and share them with our alumni worldwide.</strong>
        </p>
        <p>
         1200+ alumni worldwide are active on our Slack every month and will see you offer. We select our hiring partners very carefully to <strong>garantee only great companies and offers on our job board.</strong>
        </p>") %>
  </div>
  <div class="right-part" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 80%), url(<%= image_path 'officials/job-board.png' %>);background-size: cover; background-position: center;">
  </div>
</div>




<div id="employers-why-overlay">
  <div class="container">
    <h2 class="section-title-home section-title-home-small">
      <div class="section-title-home-content">
        <%= t ".why" %>
      </div>
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p class="employers-why-text">
          <%= t ".reasons" %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class='alumni-strength'>
          <div class='alumni-strength-header'>
            <h2 class='alumni-strength-title'>
              <%= render "shared/unique" %>
              <%= t ".exceptional" %>
            </h2>
          </div>
          <div class='alumni-strength-body'>
            <p>
              <%= t ".exceptional_details" %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
      <div class='alumni-strength'>
        <div class='alumni-strength-header'>
          <h2 class='alumni-strength-title'>
            <%= render "shared/various_background" %>
            <%= t ".unique" %>
          </h2>
        </div>
        <div class='alumni-strength-body'>
          <p>
            <%= t ".unique_details" %>
          </p>
        </div>
      </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class='alumni-strength'>
            <h2 class='alumni-strength-title'>
              <%= render "shared/operational" %>
              <%= t ".operational" %>
            </h2>
          </div>
          <div class='alumni-strength-body'>
            <p>
              <%= t ".operational_details" %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" style="padding-top: 60px">
      <a href="https://lewagon.typeform.com/to/bKCXIw" class="btn btn-danger btn-lg employers-apply" style="padding: 20px 25px;font-size: 20px" target="_blank"><%= t('.apply', :default => "Work with Le Wagon's alumni") %> </a>
    </div>
  </div>
</div>

<div id="enterprise-last-event" style="padding-bottom: 60px;">
  <h2 class="text-center"><%= t(".watch", default: "Watch our last job fair in Paris") %></h2>
  <div id="video-container" style="position:relative;max-width: 700px; min-height: 400px;
    margin: auto;margin-top: 50px;"><iframe src="https://www.youtube.com/embed/iCcKaF1sDl0" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height: 100%;left:0" allowfullscreen></iframe></div>
</div>



<div class="banner-container">
  <div class="banner banner-top banner-gradient text-center" style="background-image: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url('<%= image_path "officials/students-8.jpg" %>'); height: 80vh;" id="banner-city">
    <div>
      <h3 style="font-size: 40px;"><%= t ".wanna_join" %></h3>
      <p style="margin-bottom: 10px;font-size: 23px"><%= t ".signup" %></p>
      <a href="https://lewagon.typeform.com/to/bKCXIw" class="btn btn-danger btn-lg employers-apply" style="padding: 20px 25px;font-size: 20px" target="_blank"><%= t('.apply', :default => "Work with Le Wagon's alumni") %> </a>
    </div>
  </div>
</div>

