<%= content_for(:title)       { t ".title", default: "Re-invent work in a digital world with Le Wagon's immersive workshops."}       %>
<%= content_for(:description) { t ".description", default: "Le Wagon brings technical skills to your organisation through code and technology. Change the way you work through immersive workshops." } %>
<%= content_for(:image_url) { image_url 'social/enterprise_card.png' } %>

<div class="banner-enterprise" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.1) 80%), url(<%= image_path 'officials/enterprise-cover.jpg' %>)">
  <div class="banner-content container">
    <h1>
      <span><%= t('.tagline_html', :default => 'Re-invent work <br>in a digital world.').html_safe %></span>
    </h1>
    <p>
      <%= t('.tagline_details_html', :default => 'Learn the technical skills to change the way you work <br>in your organisation.
      <strong>Work faster, be more efficient.</strong>').html_safe %>
    </p>
    <a class="button btn btn-danger" href="tel:+33783599795"> <%= t('.apply_phone_html', :default => 'Learn with Le Wagon') %> </a>
    <a class="button btn btn-danger" href="mailto:benjamin@lewagon.org"> <%= t('.apply_mail_html', :default => 'Learn with Le Wagon') %> </a>
  </div>
</div>

<div style="background-color: #F4F4F4; padding: 70px 0 280px;">
  <div class="container">
    <h2 class='section-title-home' style="font-size:30px;">
      <div class='section-title-home-content'>
        <%= t('.skills_header', :default => 'New skills for a new way of working.') %>
      </div>
    </h2>
    <p class="text-center" style="font-size: 21px;font-weight: 100;opacity: 0.8;max-width: 690px;margin: 50px auto;">
      <%= t('.skills_text_html', :default => 'In a fast changing environment, you need new tools, new workflow, new mindset.') %>
    </p>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-enterprise-skill">
          <div>
            <h3>
              <span><%= t('.ui', :default => 'UI / UX') %></span>
              <%= image_tag "technos/enterprise-sketch.jpg", style: "height: 40px; margin-bottom: 10px; display: inline-block"; %>
            </h3>
            <p>
              <%= t('.ui_details', :default => 'Visible things makes communication easier. Learn to build wireframes and mockups to discuss your ideas.') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-enterprise-skill">
          <div>
            <h3>
              <span><%= t('.web_design', :default => 'Web-Design / Frontend') %></span>
              <i class="devicons devicons-html5" style="color: #D25836;"></i>
            </h3>
            <p>
              <%= t('.web_design_details', :default => ' Build your own icons, keep control of your website without always depending on contractors.') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-enterprise-skill">
          <div>
            <h3>
              <span><%= t('.pm', :default => 'Product Management') %></span>
              <i class="devicons devicons-trello" style="color: #026AA7;"></i>
            </h3>
            <p>
              <%= t('.pm_details', :default => ' User stories, collaborative workflow. Learn the good way to work on a project within a team.') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-enterprise-skill">
          <div>
            <h3 class="text-center">
              <span><%= t('.data_science', :default => 'Data Science & Visualisation') %></span>
              <%= image_tag "technos/d3.png", style: "height: 40px; margin-bottom: 10px; margin-top: 10px; display: inline-block"; %>
            </h3>
            <p>
              <%= t('.data_science_details', :default => 'Collect data, analyze it, make it speak through visualisation.') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-enterprise-skill">
          <div>
            <h3 class="text-center">
              <span><%= t('.prototyping', :default => 'Lean Prototyping') %></span>
              <%= image_tag "technos/prototyping.png", style: "height: 40px; margin-bottom: 10px; margin-top: 10px; display: inline-block"; %>
            </h3>
            <p>
              <%= t('.prototyping_details', :default => 'APIs are eating the world. Discover how startups can prototype products just by connecting APIs.') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="final-cta text-center card-cta">
        <a class="typeform-share button btn btn-danger" href="https://lewagon.typeform.com/to/CFCwXY" data-mode="popup" target="_blank" > <%= t('.cta-objectives', :default => 'Learn with Le Wagon') %> </a>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="section-wrapper">
  <div class="photo-grid container">
    <div class="grid-column" style="background-image: url(<%= image_path 'b2b/visu-4.jpg' %>)">
    </div>
    <div class="grid-column">
      <div class="grid-item" style="background-image: url(<%= image_path 'b2b/visu-1.jpg' %>); background-position: center center;"></div>
      <div class="grid-item" style="background-image: url(<%= image_path 'b2b/visu-5.jpg' %>); background-position: center right;"></div>
    </div>
  </div>
  <div class="formats-illustration">
    <div class="container">
      <h2><%= t('.formats_title', :default => "What we can do for you") %></h2>
      <ul>
        <li><%= t('.format_1_title') %> <%= t('.format_1_description_html') %></li>
        <li><%= t('.format_2_title') %> <%= t('.format_2_description_html') %></li>
        <li><%= t('.format_3_title') %> <%= t('.format_3_description_html') %></li>
        <li><%= t('.format_4_title') %> <%= t('.format_4_description_html') %></li>
        <li><%= t('.format_5_title') %> <%= t('.format_5_description_html') %></li>
        <li><%= t('.format_6_title') %> <%= t('.format_6_description_html') %></li>
      </ul>
      <div class="final-cta text-center">
        <a class="typeform-share button btn btn-danger" href="https://lewagon.typeform.com/to/CFCwXY" data-mode="popup" target="_blank" > <%= t('.cta-objectives', :default => 'Learn with Le Wagon') %> </a>
      </div>
    </div>
  </div>
</div>

<div id="enterprise-testimonials" class="hidden-xs">
  <h2 class='section-title-home' style="font-size:30px; margin-bottom: 50px;">
    <div class='section-title-home-content' style="background: white;">
      <%= t('.with_us', :default => "They work with us.") %>
    </div>
  </h2>

  <div class="enterprise-nav">
    <%= image_tag "b2b/testimonial-1.jpg", class: "active quote-author", "data-target" => "#testimonial-1" %>
    <%= image_tag "b2b/testimonial-2.jpg", class: "quote-author", "data-target" => "#testimonial-2" %>
    <%= image_tag "b2b/testimonial-3.jpg", class: "quote-author", "data-target" => "#testimonial-3" %>
    <%= image_tag "b2b/testimonial-4.jpg", class: "quote-author", "data-target" => "#testimonial-4" %>
    <%= image_tag "b2b/testimonial-5.jpg", class: "quote-author", "data-target" => "#testimonial-5" %>
  </div>

  <div class="enterprise-testimonial text-center" id="testimonial-1">
    <p>
      <i class="fa fa-quote-left"></i>
       <%= t('.testimonial_1', default: "Le Wagon really knows how to bring complementary tech skills and culture to people with a business background. Their vision of technology is unique.") %>
      <i class="fa fa-quote-left"></i>
      <br>
      <p class="text-right">Janick<br><strong>Secteur d'activité : Banque & assurance</strong></p>
    </p>
  </div>
  <div class="enterprise-testimonial text-center hidden" id="testimonial-2">
    <p>
      <i class="fa fa-quote-left"></i>
      <%= t('.testimonial_2', default: "Le Wagon allows me to understand better Uber's product roadmap, and to be able to explain simply concepts such as API integration to our partners.") %>
      <i class="fa fa-quote-left"></i>
      <br>
      <p class="text-right">Laura<br><strong>FinTech</strong></p>
    </p>
  </div>
  <div class="enterprise-testimonial text-center hidden" id="testimonial-3">
    <p>
      <i class="fa fa-quote-left"></i>
      <%= t('.testimonial_3', default: "The tech stack & design methodologies taught at Le Wagon are the foundations of our Product Engineering culture.
      drivy_quote: Their curriculum is very well crafted, the teachers are passionate.") %>
      <i class="fa fa-quote-left"></i>
      <br>
      <p class="text-right">Raphaël<br><strong>Secteur d'activité : Banque & assurance</strong></p>
    </p>
  </div>
  <div class="enterprise-testimonial text-center hidden" id="testimonial-4">
    <p>
      <i class="fa fa-quote-left"></i>
      <%= t('.testimonial_4', default: "If you come from a business background, it's amazing how Le Wagon can develop your relationship with technology.") %>
      <i class="fa fa-quote-left"></i>

      <br>
      <p class="text-right">Valérie<br><strong>Conseil</strong></p>
    </p>
  </div>
  <div class="enterprise-testimonial text-center hidden" id="testimonial-5">
    <p>
      <i class="fa fa-quote-left"></i>
      <%= t('.testimonial_5', default: "Solid workshops teaching both essential technical skills and a strong product mindset.") %>
      <i class="fa fa-quote-left"></i>

      <br>
      <p class="text-right">Jill<br><strong>Grande distribution</strong></p>
    </p>
  </div>
  <div class="final-cta text-center">
    <a class="typeform-share button btn btn-danger" href="https://lewagon.typeform.com/to/CFCwXY" data-mode="popup" target="_blank" > <%= t('.testimonial_cta', :default => 'Learn with Le Wagon') %> </a>
  </div>
</div>

<div id="enterprise-last-event">
  <h2 class="text-center"><%= t(".watch", default: "Watch our last workshop") %></h2>
  <div id="video-container" style="position:relative;max-width: 700px; min-height: 400px;
    margin: auto;margin-top: 50px;"><iframe src="https://www.youtube.com/embed/0HjKQ8aNS7g?ecver=2<%= I18n.locale == :fr ? nil : "&cc_lang_pref=en&cc_load_policy=1" %>" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height: 100%;left:0" allowfullscreen></iframe></div>
</div>


<script> (function() { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://s3-eu-west-1.amazonaws.com/share.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "share.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>



