<%= content_for(:title)       { t ".title", default: "Re-invent work in a digital world with Le Wagon's immersive workshops."}       %>
<%= content_for(:description) { t ".description", default: "Le Wagon brings technical skills to your organisation through code and technology. Change the way you work through immersive workshops." } %>
<%= content_for(:image_url) { image_url 'social/enterprise_card.png' } %>

<div class="banner-enterprise" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.1) 80%), url(<%= image_path 'officials/students-3-bis.jpg' %>)">
  <div class="banner-content container">
    <h1>
      <%= t('.tagline_html', :default => 'Re-invent work <br>in a digital world.').html_safe %>
    </h1>
    <p>
      <%= t('.tagline_details_html', :default => 'Learn the technical skills to change the way you work <br>in your organisation.
      <strong>Work faster, be more efficient.</strong>').html_safe %>
    </p>
    <a class="typeform-share button btn btn-danger" href="https://lewagon.typeform.com/to/LOs0uR" data-mode="popup" target="_blank" > <%= t('.apply', :default => 'Learn with Le Wagon') %> </a>
  </div>
</div>

<div style="background-color: #F4F4F4; padding: 70px 0;">
  <div class="container">
    <h2 class='section-title-home' style="font-size:30px;">
      <div class='section-title-home-content'>
        <%= t('.skills_header', :default => 'New skills for a new way of working.') %>
      </div>
    </h2>
    <p class="text-center" style="font-size: 21px;font-weight: 100;opacity: 0.8;max-width: 600px;margin: 50px auto;">
      <%= t('.skills_text_html', :default => 'In a fast changing environment, you need new tools, new workflow, new mindset.') %>
    </p>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-enterprise-skill">
          <div>
            <h3>
              <span><%= t('.pm', :default => 'Product Management') %></span>
              <i class="devicons devicons-trello" style="color: #026AA7;"></i>
            </h3>
            <p>
              <%= t('.pm_details', :default => ' User stories, collaborative workflow. Learn the good way to work on a project within a team.') %>
            </p>
            <p>
              <a href="https://lewagon.typeform.com/to/LOs0uR" data-mode="popup" target="_blank" class="btn btn-default typeform-share button" style="margin-bottom: 0px;"><%= t('.apply_to', skill: "Product Management", :default => 'Learn with Le Wagon') %></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-enterprise-skill">
          <div>
            <h3>
              <span><%= t('.ui', :default => 'UI / UX') %></span>
              <%= image_tag "technos/enterprise-sketch.jpg", style: "height: 40px; margin-bottom: 10px; display: inline-block"; %>
            </h3>
            <p>
              <%= t('.ui_details', :default => 'Visible things makes communication easier. Learn to build wireframes and mockups to discuss your ideas.') %>
            </p>
            <p>
              <a href="https://lewagon.typeform.com/to/LOs0uR" data-mode="popup" target="_blank" class="btn btn-default typeform-share button" style="margin-bottom: 0px;"><%= t('.apply_to', skill: "UI / UX design", :default => 'Learn with Le Wagon') %></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-enterprise-skill">
          <div>
            <h3>
              <span><%= t('.web_design', :default => 'Web-Design / Frontend') %></span>
              <i class="devicons devicons-html5" style="color: #D25836;"></i>
            </h3>
            <p>
              <%= t('.web_design_details', :default => ' Build your own icons, keep control of your website without always depending on contractors.') %>
            </p>
            <p>
              <a href="https://lewagon.typeform.com/to/LOs0uR" data-mode="popup" target="_blank" class="btn btn-default typeform-share button" style="margin-bottom: 0px;"><%= t('.apply_to', skill: "Web design", :default => 'Learn with Le Wagon') %></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-enterprise-skill">
          <div>
            <h3 class="text-center">
              <span><%= t('.data_science', :default => 'Data Science & Visualisation') %></span>
              <%= image_tag "technos/d3.png", style: "height: 40px; margin-bottom: 10px; margin-top: 10px; display: inline-block"; %>
            </h3>
            <p>
              <%= t('.data_science_details', :default => 'Collect data, analyze it, make it speak through visualisation.') %>
            </p>
            <p>
              <a href="https://lewagon.typeform.com/to/LOs0uR" data-mode="popup" target="_blank" class="btn btn-default typeform-share button" style="margin-bottom: 0px;"><%= t('.apply_to', skill: "Data Science", :default => 'Learn with Le Wagon') %></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-enterprise-skill">
          <div>
            <h3 class="text-center">
              <span><%= t('.fullstack', :default => 'FullStack Development') %></span>
              <i class="devicons devicons-ruby_on_rails" style="color: #C22821;"></i>
            </h3>
            <p>
              <%= t('.fullstack_details', :default => 'From the database to the web browser, learn how a web application is built.') %>
            </p>
            <p>
              <a href="https://lewagon.typeform.com/to/LOs0uR" data-mode="popup" target="_blank" class="btn btn-default typeform-share button" style="margin-bottom: 0px;"><%= t('.apply_to', skill: "Web development", :default => 'Learn with Le Wagon') %></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-enterprise-skill">
          <div>
            <h3 class="text-center">
              <span><%= t('.prototyping', :default => 'Lean Prototyping') %></span>
              <%= image_tag "technos/prototyping.png", style: "height: 40px; margin-bottom: 10px; margin-top: 10px; display: inline-block"; %>
            </h3>
            <p>
              <%= t('.prototyping_details', :default => 'APIs are eating the world. Discover how startups can prototype products just by connecting APIs.') %>
            </p>
            <p>
              <a href="https://lewagon.typeform.com/to/LOs0uR" data-mode="popup" target="_blank" class="btn btn-default typeform-share button" style="margin-bottom: 0px;"><%= t('.apply_to', skill: "Lean Prototyping", :default => 'Learn with Le Wagon') %></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="enterprise-why-us" class="hidden-sm hidden-xs">
  <div class="left-part">
    <h2>
      <%= t('.best', :default => 'Learn from the best') %>
    </h2>

    <%= t('.best_details_html', default: "<p>
         We have trained more than 1200 students coming from business schools, engineering schools, design schools. We know how to <strong>bridge the gap between technology and business</strong>. We have taught our students to code and prototype <strong>more than 400 products</strong>.
        </p>
        <p>
         After having trained so many talented people, we know <strong>we can bring the same skills to your organisation</strong>.
        </p>").html_safe %>

    <div class="hec-footer">
      <%= render "shared/logos/hec"%>
      <p><%= t('.hec_html', default: "Since 2017, Le Wagon is the official partner of HEC (highest ranked French business school) and <a href='http://www.hec.fr/News-Room/Actualites/Les-HEC-Entrepreneurs-demain-tous-codeurs' target='_blank'>is teaching HEC entrepreneurs to code their own product</a>.").html_safe %></p>
    </div>

  </div>
  <div class="right-part" style="background-image: url(<%= image_path 'officials/job-8.jpg' %>);background-size: cover;">
  </div>
</div>

<div id="enterprise-last-event">
  <h2 class="text-center"><%= t(".watch", default: "Watch our last workshop") %></h2>
  <div id="video-container" style="position:relative;max-width: 700px; min-height: 400px;
    margin: auto;margin-top: 50px;"><iframe src="https://www.youtube.com/embed/0HjKQ8aNS7g?ecver=2<%= I18n.locale == :fr ? nil : "&cc_lang_pref=en&cc_load_policy=1" %>" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height: 100%;left:0" allowfullscreen></iframe></div>
</div>

<div id="enterprise-testimonials" class="hidden-xs">
  <h2 class='section-title-home' style="font-size:30px; margin-bottom: 50px;">
    <div class='section-title-home-content' style="background: white;">
      <%= t('.with_us', :default => "They work with us.") %>
    </div>
  </h2>

  <div class="enterprise-nav">
    <%= image_tag "companies/google.png",class: "active", style: "height: 45px;", "data-target" => "#google" %>
    <%= image_tag "companies/uber.png", style: "height: 25px;", "data-target" => "#uber" %>
    <%= image_tag "companies/stripe.png", style: "height: 100px;", "data-target" => "#stripe" %>
    <%= image_tag "companies/eki.png", style: "height: 30px;", "data-target" => "#eki" %>
    <% image_tag "companies/drivy.png", style: "height: 90px;", "data-target" => "#drivy" %>
    <%= image_tag "companies/algolia.png", style: "height: 35px;", "data-target" => "#algolia" %>
  </div>

  <div class="enterprise-testimonial text-center" id="google">
    <p>
      <i class="fa fa-quote-left"></i>
       <%= t('.google_quote', default: "Le Wagon really knows how to bring complementary tech skills and culture to people with a business background. Their vision of technology is unique.") %>
      <i class="fa fa-quote-left"></i>
      <br>
      <p class="text-right"><a href="https://www.linkedin.com/in/marion-grandjean-67971b3/" target="blank">Marion Grandjean</a>, <strong>Business Associate at Google</strong></p>
    </p>
  </div>
  <div class="enterprise-testimonial text-center hidden" id="uber">
    <p>
      <i class="fa fa-quote-left"></i>
      <%= t('.uber_quote', default: "Le Wagon allows me to understand better Uber's product roadmap, and to be able to explain simply concepts such as API integration to our partners.") %>
      <i class="fa fa-quote-left"></i>
      <br>
      <p class="text-right"><a href="https://www.linkedin.com/in/emerichenon/" target="blank">Emeric Henon</a>, <strong>Marketing at Uber</strong></p>
    </p>
  </div>
  <div class="enterprise-testimonial text-center hidden" id="eki">
    <p>
      <i class="fa fa-quote-left"></i>
      <%= t('.eki_quote', default: "The tech stack & design methodologies taught at Le Wagon are the foundations of our Product Engineering culture.
      drivy_quote: Their curriculum is very well crafted, the teachers are passionate.") %>
      <i class="fa fa-quote-left"></i>
      <br>
      <p class="text-right"><a href="https://www.linkedin.com/in/guillaume-martin-64700998" target="blank">Guillaume Martin</a>, <strong>Head of Product Engineering at Ekimetrics</strong></p>
    </p>
  </div>
  <div class="enterprise-testimonial text-center hidden" id="drivy">
    <p>
      <i class="fa fa-quote-left"></i>
      <%= t('.drivy_quote', default: "Their curriculum is very well crafted, the teachers are passionate.") %>
      <i class="fa fa-quote-left"></i>

      <br>
      <p class="text-right"><a href="https://www.linkedin.com/in/jean-anquetil-4996a590/" target="blank">Jean Anquetil</a>, <strong>Developer at Drivy</strong></p>
    </p>
  </div>
  <div class="enterprise-testimonial text-center hidden" id="algolia">
    <p>
      <i class="fa fa-quote-left"></i>
      <%= t('.algolia_quote', default: "If you come from a business background, it's amazing how Le Wagon can develop your relationship with technology.") %>
      <i class="fa fa-quote-left"></i>

      <br>
      <p class="text-right"><a href="https://www.linkedin.com/in/jeanedernlorillon/" target="blank">Jean-Edern Lorillon</a>, <strong>Product Specialist at Algolia</strong></p>
    </p>
  </div>
  <div class="enterprise-testimonial text-center hidden" id="stripe">
    <p>
      <i class="fa fa-quote-left"></i>
      <%= t('.stripe_quote', default: "Solid workshops teaching both essential technical skills and a strong product mindset.") %>
      <i class="fa fa-quote-left"></i>

      <br>
      <p class="text-right"><a href="https://www.linkedin.com/in/oliviergodement/" target="blank">Olivier Godement</a>, <strong>Country Operation at Stripe</strong></p>
    </p>
  </div>
</div>


<div class="final-cta text-center">
  <a class="typeform-share button btn btn-danger" href="https://lewagon.typeform.com/to/LOs0uR" data-mode="popup" target="_blank" > <%= t('.apply', :default => 'Learn with Le Wagon') %> </a>
</div>


<script> (function() { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://s3-eu-west-1.amazonaws.com/share.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "share.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>



