<%= content_for(:title)       { raw t ".title" }       %>
<%= content_for(:description) { raw t(".description") } %>
<%= content_for(:headers) do %>
  <link rel="canonical" href="<%= I18n.locale == :en ? root_url : root_url(locale: I18n.locale) %>" />
<% end %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path('banners/banner-home.jpg')%>');">
      <div class="banner-gradient-shadow home"></div>
      <div class="banner-content">
        <h1>Le Wagon - Coding Bootcamp</h1>
        <h2>
          <%= t(".catchline_html") %>
        </h2>
        <p>
          <%= t(".vision_html") %>
          <!-- <span>
            <i class="fa fa-play-circle-o"></i> <%= t(".view_teaser") %>
          </span> -->
        </p>
      </div>
    </div>
    <div class='banner-cta'>
    <%= link_to send(:"program_#{locale.to_s.underscore}_path"), class: 'banner-cta-item hidden-xs' do %>
      <%= t(".discover_us", default: "Découvrez notre programme") %>
    <% end %>
    <%= link_to t(".apply_for_nine_weeks_html"), send(:"apply_#{locale.to_s.underscore}_path"), class: "btn banner-cta-item btn-danger btn-lg" %>
    </div>
  </div>
</div>


<%= render "shared/features", wrapper_up: true %>

<%= render partial: "shared/testimonials_new" %>

<% cache [ 'stories', locale ] do %>
  <% stories = Story.random(limit: 2, excluded_slugs: session[:story_slugs]).map(&:as_json) %>
  <% stories.each do |story| %>
    <% story[:thumbnail] = story_image_url(story[:thumbnail]) %>
  <% end %>
  <%= react_component 'Stories', {
      stories: stories,
      storiesPath: alumni_path,
      i18n: {
        title: t(".featured"),
        subtitle: t(".featured_subtitle"),
        read_next_vowel: t(".read_next_vowel"),
        read_next_consumn: t(".read_next_consumn"),
        read_all: t(".read_all")
      },
      locale: locale.to_s
    }, prerender: prerender? %>
<% end %>

<% cache ['home_cities', locale ] do %>
<div class="wordlwide-overlay">
  <div class="container padded">
    <h2 class='section-title-home'>
      <div class='section-title-home-content'>
        <%= t ".worldwide" %>
      </div>
    </h2>
    <p class="text-muted text-center section-title-home-subtitle">
      <%= t(".open_yours") %> <i class="fa fa-angle-right"></i>
      <a href="mailto:contact@lewagon.org?Subject=Launching%20Le%20Wagon" target="_top">contact@lewagon.org</a>
    </p>
    <%= render 'shared/map' %>
    <div class="card-cities">
      <% @cities.each do |city| %>
        <div class="card-city-container">
            <div class="card-city">
              <%= link_to "", city_path(city: city.slug), class: "card-city-link" %>
              <div class="card-city-header" style="background-image: url('<%= cl_image_path city.city_background_picture || "", height: 200, crop: :fill %>')">
              <span class="card-city-filter"></span>
              </div>
              <div class="card-city-body">
                <h3><%= city.name %></h3>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
