<%= content_for(:title) { "Join Le Wagon's free course and learn the basics of web-development".html_safe} %>
<%= content_for(:description) { "Build your website with HTML, CSS and Javascript. Play with Github and APIs and get the essential skills to pursue a career in the tech industry." } %>
<%= content_for(:image_url) { image_url 'social/enterprise_card.png' } %>

<div id="invitation-banner">
  <div class="banner-enterprise container">
    <div class="banner-content">
      <h1>
        Learn to code online.
      </h1>
      <p>
        <span style="font-weight: 900;">Get your invitation</span> for Le Wagon's free online course and learn HTML, CSS, Javascript, Github, APIs and much more 🚀.
      </p>
      <% @prospect ||= Prospect.new %>
      <% @prospect.from_path = request.env['PATH_INFO'] %>
      <p class="email-error hidden">Your email is not valid :(</p>
      <div class="invitation">
        <%= simple_form_for @prospect, html: { class: 'form-invitation' }, remote: true do |f| %>
          <%= f.input :email, as: :email, label: false, placeholder: "you@gmail.com", wrapper: false, error: false %>
          <%= f.input :city,
            class: 'city-dropdown',
            collection: @cities.sort_by { |c| c['name'] },
            label_method: lambda { |c| c['name'] },
            value_method: lambda { |c| c['slug'] },
            label: false,
            wrapper: false,
            include_blank: false,
            selected: @cities.find { |c| c['slug'] == params[:city] } ? params[:city] : 'paris' %>
          <%= f.input :from_path, as: :hidden %>
          <%= f.submit "Get my invitation", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="slideshow">
    <%= image_tag "officials/screenshot-3.jpg"%>
    <%= image_tag "officials/screenshot-1.jpg", style: "opacity: 0"%>
    <%= image_tag "officials/screenshot-2.jpg", style: "opacity: 0"%>
    <%= image_tag "officials/screenshot-4.jpg", style: "opacity: 0"%>
    <%= image_tag "officials/screenshot-5.jpg", style: "opacity: 0"%>
  </div>
</div>

<%= render "prospects/invitation" %>

