<%= content_for(:title)       { "Re-invent work in a digital world with Le Wagon's immersive workshops."}       %>
<%= content_for(:description) { "Le Wagon brings technical skills to your organisation through code and technology. Change the way you work through immersive workshops." } %>
<%= content_for(:image_url) { image_url 'social/enterprise_card.png' } %>

<div class="container">
  <h1>Journée d’acculturation au numèrique multientreprise</h1>
  <span>Parce que c'est vraiment trop bien tout ça !</span>
  <div class="event-wrapper">
    <div class="event"style="background-image: linear-gradient(90deg, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.1) 80%), url(<%= image_path 'officials/enterprise-cover.jpg' %>)">
      <h2>
        Codez votre premier site en 1 journée
      </h2>
      <p>
        Learn the technical skills to change the way you work <br>in your organisation.
        <strong>Work faster, be more efficient.</strong>
      </p>
      <p>Acquis :</p>
      <ul>
        <li>Comprendre le mindset d'un developpeur</li>
        <li>Comprendre le découpage d'un site web</li>
        <li>Introduction au langage front end HTML CSS Librairie Bootstrap</li>
        <li>ouverture d'esprit sur les metiers du web</li>
      </ul>
      <p>Dates de sessions</p>
      <ul>
        <li>7/09/2017</li>
        <li>15/09/2017</li>
        <li>21/09/2017</li>
      </ul>
      <p>Durée : 1 journée - <a href="#">Voir l'agenda</a></p>
      <p>Prix : 700€ <i>jusqu'a 30 participants - minimum 17 personnes</i></p>
      <a class="button btn btn-danger" href="#">Codez votre premier site en 1 journée</a>
    </div>
    <div class="event" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.1) 80%), url(<%= image_path 'officials/enterprise-cover.jpg' %>)">
      <h2>
        De la maquette au site web en 48h
      </h2>
      <p>
        Learn the technical skills to change the way you work <br>in your organisation.
        <strong>Work faster, be more efficient.</strong>
      </p>
      <p>Acquis :</p>
      <ul>
        <li>Démocratisation du code informatique</li>
        <li>Faciliter les échanges avec des équipes de dev</li>
        <li>Apprendre à maquetter puis à mettre son idée en production</li>
      </ul>
      <p>Dates de sessions</p>
      <ul>
        <li>12 & 13/09/2017</li>
        <li>19 & 20/09/2017</li>
      </ul>
      <p>Durée : 2 jours - <a href="#">Voir l'agenda</a></p>
      <p>Prix : 1400€ <i>jusqu'a 10 participants - minimum 7 personnes</i></p>
      <a class="button btn btn-danger" href="#">De la maquette de votre idée à son site web</a>
    </div>
  </div>
</div>


Agenda :
Matin:
Création de la structure de votre site HTML CSS
Dejeuner sous la verriere

Aprés midi:
ntroduction à la librairie Bootstrap pour finaliser votre site vitrine
Drinks de debriefs

Objectifs :
Utilisez les mêmes outils que les pros
Découvrez le HTML & le CSS
Apprenez les meilleurs pratiques du développement front-end
Appréhendez les librairies de design en expérimentant avec les polices, les couleurs, les icônes, les arrière-plans…




Atelier 2:

Agenda :

Jour 1:
UX Design & Product Management
Qu’est ce que l’UI, l’UX, le Product Management ?
Comment concevoir et spécifier un produit technologique ?
Atelier :
Construire la maquette puis le prototype de sa propre application web.

Jour 2:
Web Design & Dev. Front-End
Qu’est ce que le web-design ?
Comment construire soi même ses «assets» graphiques
(police, logo, icons, palette de couleur)
Qu’est ce que le dev front-end ? (HTML  CSS)
Atelier :Design puis codage d’un site vitrine responsive et mise en ligne

Objectifs :
Apprendre l'utilisation des outils des pros (Sketch, Sublime text, etc.)
Comprendre les méthodologies de travail d'une startup
Apprendre à mettre en imagepuis en prod son idée
Mise en application pratique methodologies Lean et Agile
