<div class="container">
  <% if @live %>
    <div class="player-container">
      <div class="player-header">
        <div class="batch-info">
          <div class="batch-flag">
            <%= render 'shared/icon_flag_fr' %>
          </div>
          <div class="batch-details">
            <div class="batch-name">
              <i><%= @city['name'] %> |</i> <%= @live.title %>
            </div>
            <div class="batch-date">
              <%= @live.subtitle %>
            </div>
          </div>
        </div>
      </div>
      <div class="player-content">
        <div class="player-video">
          <% if @live.facebook_url.present? %>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/<%= I18n.locale == :fr ? 'fr_FR' : 'en_US' %>/sdk.js#xfbml=1&version=v2.6";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>

              <!-- Your embedded video player code -->
              <div class="fb-video" data-href="<%= @live.facebook_url%>"
                data-width="900" data-show-text="false" data-allowfullscreen="true">
              </div>
          <% else %>
            <div class="player-placeholder" style="background-image: url('<%= image_path("live/comingsoon/#{rand(3)}.jpg")%>');">
              <span>Live en préparation...</span>
            </div>
          <% end %>
        </div>
        <div class="player-product">
          <div class="product-details">
            <ul class="product-team">
              <li>
                <%= image_tag 'live/logo-devialet.jpg', class: "team-member" %>
              </li>
              <li>
                <%= image_tag 'live/quentin-sannie.jpg', class: "team-member" %>
              </li>
            </ul>
            <span class="project-tagline"><%= markdown @live.description %></span>
            <% if @live.link %>
              <%= link_to "En savoir +", @live.link, target: '_blank', class: "project-link" %>
            <% end %>
          </div>
          <%= link_to "Voir tous nos Meetup", @city["meetup_url"], target: '_blank', class: "go-to-meetup" %>
        </div>
      </div>
    </div>

    <% else %>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="padded">
          <h1>Live not running</h1>
          <p>Sorry, we don't have any live running at the moment. Try refreshing the page in a few minutes.</p>
          <p>
            <%= link_to "Refresh", live_path, class: 'btn btn-primary' %>
            or
            <%= link_to "go home", root_path %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
