<div class="padded" id="press">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class='section-title-home press-title'>
          <div class='section-title-home-content'>
            <%= t ".title" %>
          </div>
        </h1>
      </div>
      <% Static::PRESS.each_with_index do |article, index| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-press">
            <div class="card-press-logo">
              <div class="logo">
                <%= link_to article[:url], target: :blank do %>
                  <%= image_tag "press/#{article[:logo]}", alt: article[:name] %>
                <% end %>
              </div>
            </div>
            <div class="card-press-content">
              <p class="title"><%= article[:name]%></p>
              <p class="published"><%= article[:date].strftime("%d %b %Y") %> -
                <%= link_to article[:url], target: :blank do %><strong><%= article[:media] %></strong><% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


