<%= content_for(:title)       { t ".title" }       %>
<%= content_for(:description) { t ".description" } %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path('banners/banner-program.jpg')%>');" id="banner-program">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1 class='glitch'>
        <h1><%= t(".our_program") %></h1>
        </h1>
        <p style="font-size: 26px;">
          <%= t(".program_details_html") %>
        </p>
      </div>
    </div>
    <div class='banner-cta'>
      <%= link_to t(".download_syllabus", default: "Download Syllabus"), "", class: "btn banner-cta-item", "data-toggle" => "modal", "data-target" => "#download-syllabus-modal" %>
      <%= link_to t(".apply_for_nine_weeks_html"), send(:"apply_#{locale.to_s.underscore}_path"), class: "btn banner-cta-item btn-danger btn-lg", style: "margin-left: 0px;" %>
    </div>
  </div>
</div>


<% cache [ 'learning-curve', locale: I18n.locale ] do %>
<div class='learning-curve-overlay' style:"padding: 0 80px;">
  <div class="container">
    <h2 class='section-title-home'>
      <div class='section-title-home-content' style="font-size:30px;">
        <%= t ".nine_weeks" %>
      </div>
    </h2>
    <p class="text-muted text-center section-title-home-subtitle">
      <%= t ".to_build_your_ideas_html" %>
    </p>
  </div>
  <%= react_component 'LearningCurve', {
    curve: render('shared/learning_curve'),
    modules: [
      {
        title: t(".first_module"),
        icon: 'mdi mdi-laptop yellow',
        color: 'yellow',
        curve_size: 15,
        weeks: t(".one_week"),
        startWeek: '1',
        endWeek: '2',
        description: t('.ruby_html').html_safe,
        skills: [
          { 'icon': 'devicons-terminal_badge' },
          { 'icon': 'devicons-git' },
          { 'icon': 'devicons-ruby_rough' }
        ]
      },
      {
        title: t(".second_module"),
        icon: 'mdi mdi-cube-outline purple',
        color: 'purple',
        curve_size: 30,
        weeks: t(".one_week"),
        startWeek: '2',
        endWeek: '3',
        description: t('.software_html').html_safe,
        skills: [
          { 'icon': 'devicons-netbeans' },
        ]
      },
      {
        title: t(".third_module"),
        icon: 'devicons devicons-streamline green',
        color: 'green',
        curve_size: 45,
        weeks: t(".one_week"),
        startWeek: '3',
        endWeek: '4',
        description: t('.database_html').html_safe,
        skills: [
          { 'icon': 'devicons-streamline' },
          { 'icon': 'devicons-postgresql' }
        ]
      },
      {
        title: t(".fourth_module"),
        weeks: t(".two_weeks"),
        icon: 'mdi mdi-auto-fix blue',
        color: 'blue',
        startWeek: '4',
        endWeek: '5',
        curve_size: 60  ,
        description: t('.frontend_html').html_safe,
        skills: [
          { 'icon': 'devicons-html5' },
          { 'icon': 'devicons-css3' },
          { 'icon': 'devicons-javascript_badge' }
        ]
      },
      {
        title: t(".fifth_module"),
        startWeek: '5',
        color: 'red',
        icon: 'devicons devicons-ruby_on_rails red',
        weeks: t(".two_weeks"),
        endWeek: '7',
        curve_size: 75,
        description: t('.rails_html').html_safe,
        skills: [
          { 'icon': 'devicons-ruby_on_rails' },
          { 'icon': 'devicons devicons-react' },
          { 'icon': 'devicons-heroku' }
        ]
      },
      {
        title: t(".sixth_module"),
        startWeek: '8',
        icon: 'mdi mdi-star orange',
        color: 'orange',
        weeks: t(".two_weeks"),
        endWeek: '9',
        curve_size: 100,
        description: t('.projects_html').html_safe,
        skills: [
          { 'icon': 'devicons devicons-responsive' }
        ]
      }
    ]
    }, prerender: prerender? %>
</div>
<% end %>


<div class="two-columns hidden-xs">
  <div class="container">
    <div class="two-columns-description">
      <h2 class="section-header-big">
        <%= t(".why_us") %>
      </h2>
      <p class="text-readable text-opac">
        <%= t(".why_us_details_html",
          batches: @statistics.batch_count,
          alumni: (@statistics.alumni_count / 10) * 10) %>
      </p>
    </div>
    <div class='two-columns-image-container terminal'>
      <%= image_tag "product/fullstack-challenges.png",
          class: "two-columns-img", style: "height:600px; margin-top: 100px;"
      %>
    </div>
  </div>
</div>

<div class="container visible-xs padded">
  <h2 class="section-header-big">
    <%= t(".why_us") %>
  </h2>
  <p class="text-readable text-opac">
    <%= t(".why_us_details_html",
      batches: @statistics.batch_count,
      alumni: (@statistics.alumni_count / 10) * 10) %>
  </p>
</div>

<div class="bg-blue two-columns hidden-xs">
  <div class="container">
    <div class="two-columns-description" >
      <h2 class="section-header-big">
        <%= t(".community") %>
      </h2>
      <p class="text-readable" style="color: rgba(255, 255, 255, 0.9);">
        <%= t(".community_details_html", alumni: (@statistics.alumni_count / 10) * 10) %>
      </p>
    </div>
    <div class='two-columns-image-container slack'>
      <%= image_tag "product/slack-design.png", class: "two-columns-img  two-columns-img-right", style: "height:600px; margin-top: 0px;" %>
    </div>
  </div>
</div>

<div class="bg-blue padded visible-xs">
  <div class="container">
    <h2 class="section-header-big">
      <%= t(".community") %>
    </h2>
    <p class="text-readable text-opac">
      <%= t(".community_details_html", alumni: (@statistics.alumni_count / 10) * 10) %>
    </p>
  </div>
</div>

<div class="two-columns hidden-xs" style="min-height: 400px">
  <div class="container">
    <div class="two-columns-description">
      <h2 class="section-header-big">
        <%= t(".cv") %>
      </h2>
      <p class="text-readable text-opac">
        <%= t(".cv_details_html") %>
      </p>
    </div>
    <div class='two-columns-image-container'>
      <%= image_tag "product/github-portfolio.png", class: "two-columns-img two-columns-img-padded-left", style: "height:350px;margin-top:0px" %>
    </div>
  </div>
</div>

<div class="container visible-xs padded">
  <h2 class="section-header-big">
    <%= t(".cv") %>
  </h2>
  <p class="text-readable text-opac">
    <%= t(".cv_details_html") %>
  </p>
</div>


<div class="hidden-xs">
  <% cache [ 'day-type', locale: I18n.locale ] do %>
  <div class="day-type-overlay" id="typical-day">
    <%= react_component 'DayType',
      {
        title: t(".typical_day"),
        steps: [
          {
            image: image_path('officials/livecode-3.jpg'),
            description: t(".theoretical_intro"),
            hour: '9h',
            circle_color: 'day-circle-red',
            active: false
          },
          {
            image: image_path('officials/students-3.jpg'),
            description: t(".pair_programming"),
            hour: '10h30',
            circle_color: 'day-circle-blue'
          },
          {
            image: image_path('officials/yoga-program.jpg'),
            description: t(".yoga"),
            hour: '16h30',
            circle_color: 'day-circle-orange'
          },
          {
            image: image_path('officials/students-12.jpg'),
            description: t(".live_code"),
            hour: '17h30',
            circle_color: 'day-circle-orange'
          },
          {
            image: image_path('officials/event.jpg'),
            description: t(".talk"),
            hour: '19h00',
            circle_color: 'day-circle-yellow'
          }
        ]
      }, prerender: prerender? %>
  </div>
  <% end %>
</div>

<!-- Download Syllabus Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="download-syllabus-modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content" id="modalSyllabusForm">
      <%= render "prospects/syllabus/inner_modal", prospect: @prospect %>
    </div>
  </div>
</div>
