<%= content_for(:title) { "Le Wagon - Thanks!" } %>

<div class='apply-form'>
  <div class="banner-container">
    <% if params[:already] %>
      <div class="thanks-already">
        <%= t('.already_applied_html', city: @apply.city.name) %>
      </div>
    <% end %>
    <div class="container banner-city-container">
      <div class='banner-city-nav thanks-message'>
        <div class='thanks-message-title'>
          <%= t(".thanks") %> <%= @apply.first_name %>
        </div>
        <div class="thanks-message-body">
          <% if @apply.batch.analytics_slug =~ /-hec$/ %>
            <%= t(".we_will_contact_hec") %>
          <% else %>
            <%= t(".we_will_contact_html") %>
          <% end %>
        </div>
      </div>
      <div class='apply-form-body thanks-checklist'>
        <div class='banner-city-wrapper'>
          <div class='banner-city is-active banner banner-top banner-gradient text-center' style="background-image: url('<%= cl_image_path @apply.city.city_background_picture || "", height: 300, crop: :fill %>');">
            <div class="banner-gradient-shadow"></div>
            <div class="banner-content">
              <h1 class='glitch'>
                <%= t(".take_advance") %>
              </h1>
            </div>
          </div>
        </div>
        <div class='apply-form-rows-container'>
          <div class='check-list-item is-checked'>
            <div class='check-list-item-label'>
              <%= t(".first_step", name: @apply.city.name) %>
            </div>
            <div class="checklist-status-container hidden-xs hidden-sm">
              <span class='check-list-todo'>done</span>
              <div class='check-list-status is-checked'>
                <i class='fa fa-check'></i>
              </div>
            </div>
          </div>
          <%
            i = 2
            items = []
            unless @meetup_url.blank?
              items << {
                label: t('.second_step', name: @apply.city.name),
                href: @meetup_url,
                index: i
              }
              i += 1
            end
            unless @apply.city.twitter_url.blank?
              items << {
                label: t('.third_step'),
                href: @apply.city.twitter_url,
                index: i
              }
              i += 1
            end
            unless @apply.codecademy_progress.to_i >= 100
              items << {
                label: t('.fourth_step'),
                href: 'https://www.codecademy.com/en/learn/learn-ruby',
                index: i
              }
            end
          %>
          <%= react_component 'CheckListItems', {
            items: items
          }, prerender: false %>
        </div>
      </div>
    </div>
  </div>
</div>

<% unless @apply.city.apply_facebook_pixel.blank? %>
  <%= content_for(:after_js) do %>
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '<%= @city.apply_facebook_pixel %>');
    fbq('track', "Lead");
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=<%= @city.apply_facebook_pixel %>&ev=Lead&noscript=1"
    /></noscript>
  <% end %>
<% end %>

<%# Temporary code for Barcelona's Adword campaign %>
<% if @apply.city.slug == 'barcelona' %>
  <!-- Google Code for Le Wagon Application Conversion Page -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1048743652;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "1jW6CN2I_mcQ5J2K9AM";
  var google_remarketing_only = false;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1048743652/?label=1jW6CN2I_mcQ5J2K9AM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>
<% end %>

<!-- Google Code for Apply Conversion Page (La Loco) -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 853699305;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "vEzHCJej8HAQ6dWJlwM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/853699305/?label=vEzHCJej8HAQ6dWJlwM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
