<div class='apply-form'>
  <div class="banner-container">
    <div class="container banner-city-container">
      <div class='banner-city-nav thanks-message'>
        <div class='thanks-message-title'>
          <%= t(".thanks") %> <%= @apply.first_name %>
        </div>
        <div class="thanks-message-body">
          <%= t(".we_will_contact_html") %>
        </div>
      </div>
      <div class='apply-form-body thanks-checklist'>
        <div class='banner-city-wrapper'>
          <div class='banner-city is-active banner banner-top banner-gradient text-center' style="background-image: url('<%= @city['pictures']['location']['cover'] %>');">
            <div class="banner-gradient-shadow"></div>
            <div class="banner-content">
              <h1 class='glitch'>
                <%= t(".take_advance") %>
              </h1>
            </div>
          </div>
        </div>
        <div class='apply-form-rows-container'>
          <div class='check-list-item is-checked'>
            <div class='check-list-item-label'>
              <%= t(".first_step", name: @city['name']) %>
            </div>
            <div class="checklist-status-container hidden-xs hidden-sm">
              <span class='check-list-todo'>done</span>
              <div class='check-list-status is-checked'>
                <i class='fa fa-check'></i>
              </div>
            </div>
          </div>
          <%= react_component 'CheckListItems', {
            items: [
              {
                label: t('.second_step', name: @city['name']),
                href: @city['meetup_url'],
                index: 2
              },
              {
                label: t('.third_step'),
                href: @city['twitter_url'],
                index: 3

              },
              {
                label: t('.fourth_step'),
                href: 'https://www.codecademy.com/tracks/ruby?locale_code=en',
                index: 4
              }
            ]
          }, prerender: false %>
        </div>
      </div>
    </div>
  </div>
</div>

<% unless @city["apply_facebook_pixel"].blank? %>
  <%= content_for(:after_js) do %>
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '<%= @city["apply_facebook_pixel"] %>');
    fbq('track', "Lead");
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=<%= @city["apply_facebook_pixel"] %>&ev=Lead&noscript=1"
    /></noscript>
  <% end %>
<% end %>

<%# Temporary code for Barcelona's Adword campaign %>
<% if @city['slug'] == 'barcelona' %>
  <!-- Google Code for Le Wagon Application Conversion Page -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1048743652;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "1jW6CN2I_mcQ5J2K9AM";
  var google_remarketing_only = false;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1048743652/?label=1jW6CN2I_mcQ5J2K9AM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>
<% end %>
