<ul class="social-sharing">
  <li><%= ('share') %></li>
  <li>
    <a href="http://twitter.com/home?status=<%= raw @story["title"][locale.to_s] %>+<%= request.url %>" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=240,width=600');return false;">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <i id="shareBtn" class="fa fa-facebook" aria-hidden="true"></i>
  </li>
  <li>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%=request.url %>&title=<%= raw @story["title"][locale.to_s] %>&source=lewagon.com" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=240,width=600');return false;">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    </li>
</ul>