<div class="story-banner-user">
  <div class="story-user-avatar">
    <img src="<%= story["alumni"]["thumbnail"]  %>">
  </div>
  <div class="story-banner-infos">
    <div class="story-user-name">
      <span>Featuring</span> <%= story["alumni"]["first_name"]  %> <%= story["alumni"]["last_name"]  %>
    </div>
    <div class="story-user-batch">
      Batch #<%= story["alumni"]["slug"]  %>, <%= story["alumni"]["city"]  %>
    </div>
  </div>
</div>
