<div class="story-banner-user">
  <div class="story-user-avatar">
    <%= cl_image_tag story["alumni"]["photo_path"], width: 45, height: 45, crop: :fill %>
  </div>
  <div class="story-banner-infos">
    <div class="story-user-name">
      <span>Featuring</span> <%= story["alumni"]["first_name"]  %> <%= story["alumni"]["last_name"]  %>
    </div>
    <div class="story-user-batch">
      Le Wagon, Batch #<%= story["alumni"]["slug"]  %>, <%= story["alumni"]["city"]  %>
    </div>
  </div>
  <img class="story-company-logo" src="<%= story["company"]["logo"] %>" />
</div>
