<%= content_for(:title) { t(".title", story: @story["title"][locale.to_s]) } %>
<%= content_for(:description) { t(".description", story: @story["summary"][locale.to_s]) } %>
<%= content_for(:image_url) { image_url @story["picture"] } %>


<div class="story-banner banner banner-top">
  <div class="filter" class="perpetua filter" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @story["picture"]%>');"></div>
  <div class="story-banner-content story-container">
    <h2><%= @story["title"][locale.to_s]  %></h2>
    <%= render 'user_infos', story: @story %>
  </div>
</div>

<div class='story-container'>
  <div class="story-body">
    <div class="story-company">
      <% if @story["company"] %>
        <img src="<%= @story["company"]["logo"]  %>" class="story-company-logo ">
      <% end %>
    </div>
    <div class="story-summary">
      <%= @story['summary'][locale.to_s] %>
    </div>
    <div class="story-description">
      <%= markdown @story['description'][locale.to_s] %>
      <h3 class="last"><%= t(".continue") %></h3>
      <p><%= t(".read_more") %></p>
    </div>
  </div>
</div>

<div class="stories-container">
  <div class="story-container popular-stories">
    <%= t(".other_testimonials") %>
  </div>
  <% @stories.reject{ |story| story["id"] == @story["id"] }.each do |story| %>
    <div class="story-container">
      <div class="story-card">
        <main>
          <div class="story-card-title">
            <%= story["title"][locale.to_s]  %>
          </div>
          <div class="story-card-summary">
            <%= markdown story['summary'][locale.to_s] %>
          </div>
          <div class='story-card-footer'>
            <%= render 'user_infos', story: story %>
          </div>
        </main>
        <aside>
          <div class="background perpetua" id="<%= story["alumni"]["github_nickname"] %>" style="background-image: url('<%= story["picture"]%>')">
          </div>
        </aside>
        <%= link_to "", story_path(user_name: story["alumni"]["github_nickname"]), class: "story-card-link" %>
      </div>
    </div>
  <% end %>
</div>

