<%= content_for(:title) { t(".title", story: @story.title).html_safe } %>
<%= content_for(:description) { t(".description", story: @story.description) } %>
<%= content_for(:image_url) { story_image_url(@story.thumbnail) if @story.thumbnail } %>

<!-- FACEBOOK SDK ON SHOW VIEW -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '737501859652485',
      xfbml      : true,
      version    : 'v2.9'
    });

    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="story-banner banner banner-top">
  <div class="filter" class="perpetua filter"
       style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= story_image_url @story.thumbnail, width: 1400 %>');"></div>
  <div class="story-banner-content story-container">
    <h2><%= @story.title %></h2>
    <%= render 'user_infos', story: @story %>
  </div>
</div>

<div class='container story-wrapper'>
  <div class="row">

    <!-- AFFIX - SOCIAL SHARING OPTIONS -->
    <div class="col-md-2">
      <div data-spy="affix" data-offset-top="630" data-offset-bottom="2300">
        <%= render 'stories/social_sharing' %>
      </div>
    </div>

    <div class="col-md-8 story-body">
      <div class="story-company">
        <% if @story["company"] %>
          <img src="<%= @story["company"]["logo"] %>" class="story-company-logo">
        <% end %>
      </div>
      <div class="story-summary">
        <%= markdown(@story['summary'][locale.to_s] || @story['summary']["en"]) %>
      </div>
      <div class="story-description">
        <%= markdown(@story['description'][locale.to_s] || @story['description']["en"]) %>
        <h3 class="last"><%= t(".continue") %></h3>
        <p><%= t(".read_more") %></p>
      </div>
    </div>
  </div>
</div>

<div class="stories-container">
  <div class="story-container popular-stories">
    <%= t(".other_testimonials") %>
  </div>
  <% @stories.each do |story| %>
    <div class="story-container">
      <div class="story-card">
        <main>
          <div class="story-card-title">
            <%= story.title %>
          </div>
          <div class="story-card-summary">
            <%= story.description %>
          </div>
          <div class='story-card-footer'>
            <%= render 'user_infos', story: story %>
          </div>
        </main>
        <aside>
          <div class="background perpetua" id="<%= story.alumnus.github_nickname %>" style="background-image: url('<%= story_image_url story.thumbnail, width: 240 %>')">
          </div>
        </aside>
        <%= link_to "", story_path(id: story.slug), class: "story-card-link" %>
      </div>
    </div>
  <% end %>
</div>

<% content_for(:after_js) do %>
  <script>
    document.getElementById('shareBtn').onclick = function() {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: window.location.href,
      }, function(response){});
    }
  </script>
<% end %>
