<%= content_for(:title) { t(".title", story: @story.title).html_safe } %>
<%= content_for(:description) { t(".description", story: @story.description) } %>
<%= content_for(:image_url) { story_image_url(@story.thumbnail) if @story.thumbnail } %>


<div class="story-banner banner banner-top">
  <div class="filter" class="perpetua filter"
       style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= story_image_url @story.thumbnail, width: 1400 %>');"></div>
  <div class="story-banner-content story-container">
    <h2><%= @story.title %></h2>
    <%= render 'user_infos', story: @story %>
  </div>
</div>

<div class='story-container'>
  <div class="story-body">
    <% if @story.company %>
      <div class="story-company">
        <%= link_to @story.company.url,target: :_blank do %>
          <%= image_tag @story.company.logo, alt: @story.company.name, class: 'story-company-logo' %>
        <% end %>
      </div>
    <% end %>
    <div class="story-summary">
      <%= @story.description %>
    </div>
    <div class="story-description">
      <%= raw @story.content %>
      <h3 class="last"><%= t(".continue") %></h3>
      <p><%= t(".read_more") %></p>
    </div>
  </div>
</div>

<div class="stories-container">
  <div class="story-container popular-stories">
    <%= t(".other_testimonials") %>
  </div>
  <% @stories.each do |story| %>
    <div class="story-container">
      <div class="story-card">
        <main>
          <div class="story-card-title">
            <%= story.title %>
          </div>
          <div class="story-card-summary">
            <%= story.description %>
          </div>
          <div class='story-card-footer'>
            <%= render 'user_infos', story: story %>
          </div>
        </main>
        <aside>
          <div class="background perpetua" id="<%= story.alumnus.github_nickname %>" style="background-image: url('<%= story_image_url story.thumbnail, width: 240 %>')">
          </div>
        </aside>
        <%= link_to "", story_path(id: story.slug), class: "story-card-link" %>
      </div>
    </div>
  <% end %>
</div>

