<div class="employer-form-body">
  <div class="banner-employer-wrapper">
    <div class="banner-employer banner banner-top banner-gradient text-center is-active" style="background-image:url('/assets/banners/banner-employers.jpg');">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1 class="glitch">
          <span>Join our </span>
          <span class="underlined">Hiring Network</span>
        </h1>
      </div>
    </div>
  </div>
  <div class="employer-form-rows-container">
    <%= simple_form_for(employer) do |f| %>
      <%= f.input :first_name, wrapper_html: { class: 'employer-form-row' }, placeholder: 'Alan', label: label_with_icon("account", "First Name") %>
      <%= f.input :last_name, wrapper_html: { class: 'employer-form-row' }, placeholder: 'Turing', label: label_with_icon("format-text", "Last Name") %>
      <%= f.input :email, wrapper_html: { class: 'employer-form-row' }, placeholder: 'alan@turing.com', label: label_with_icon("email-open", "Email") %>
      <%= f.input :phone_number, wrapper_html: { class: 'employer-form-row' }, placeholder: '+33612345678', label: label_with_icon("cellphone-iphone", "Phone Number") %>
      <%= f.input :company, wrapper_html: { class: 'employer-form-row' }, placeholder: 'E Corp.', label: label_with_icon("domain", "Company") %>
      <%= f.input :website, as: :url, wrapper_html: { class: 'employer-form-row' }, placeholder: 'https://www.e-corp-online.com/', label: label_with_icon("web", "Website") %>
      <%= f.input :targets, collection: JOB_TITLES, as: :check_boxes, label: label_with_icon("account-search", "What are you looking for?"), include_hidden: false, wrapper_html: { class: 'employer-form-row-custom', id: "job-titles-select" }, collection_wrapper_tag: :div, collection_wrapper_class: "checkbox-list"%>
      <%= f.input :locations, collection: @cities, as: :check_boxes, label_method: :name, value_method: :slug, label: label_with_icon("map-marker", "In which city(ies) would you like to meet our community ?"), include_hidden: false, wrapper_html: { class: 'employer-form-row-custom', id: "cities-select" }, input_html: { class: 'special' }, collection_wrapper_tag: :div, collection_wrapper_class: "checkbox-list", collection_wrapper_id: "cities-select" %>
      <%= f.input :message, as: :text, label: label_with_icon("content-paste", "Why do you want to recruit Le Wagon's alumni?"), include_hidden: false, wrapper_html: { class: 'employer-form-row-custom' } %>
      <div class="employer-form-row-submit">
        <%= f.submit "Join our Hiring Network", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>




