<div class="container demo-section">
  <%
    react_batch = batch.as_json["data"]
    react_batch["starts_at"] = l(Time.parse(react_batch["starts_at"]), format: '%B').camelcase
    react_batch["ends_at"] = l(Time.parse(react_batch["ends_at"]), format: '%B %Y').camelcase
    techno_special_names = {
      css3: 'CSS3',
      gmap: 'Google Maps',
      html5: 'HTML5',
      js: 'JavaScript',
      responsive: 'Responsive Web Design'
    }

    technos = Dir.glob(Rails.root.join('app/assets/images/technos').join("*.svg")).reduce({}) do |h, file|
      slug = File.basename(file, ".*")
      h[slug] = {
        icon: File.read(file),
        name: techno_special_names[slug.to_sym] || slug.capitalize
      }
      h
    end
  %>
  <%= react_component 'PlayerContainer', {
    technos: technos,
    videoPlaceholder: image_path('officials/pair-programming.jpg'),
    autoPlay: auto_play,
    batch: react_batch,
    products: products.as_json.map { |product| product["data"] },
    students: students.as_json.map { |student| student["data"] },
    demodayPath: demoday_path,
    withSlugDemodayPath: with_slug_demoday_path(product_slug: ':slug'),
    selectedProductSlug: selected_product_slug,
    product_icon: render('shared/product_icon'),
    flag_icon: render('shared/icon_flag_' + batch.city.locale.underscore.downcase),
    i18n: {
      locale: I18n.locale,
      page_title: t("demoday.show.page_title"),
      page_title_with_selected_product: t("demoday.show.page_title_with_selected_product"),
      product_label: t(".player.product"),
      player_cta: t(".player.cta"),
      project_link: t(".player.project_link"),
      project_techno: t(".player.techno"),
      batch_intro: t(".player.batch_intro_html"),
      no_video: t(".player.no_video")
    }
  }, prerender: prerender %>
</div>

<div class="container demo-section">
  <h2 class="demoday-title"><%= students.count %> <%= t(".batch_title") %></h2>
  <div class="students-container">
    <% students.each do |student| %>
      <div class="student-info">
        <img src=<%= student.official_photo_url.gsub('http://', 'https://') %> class="student-picture"/>
        <p class="student-name"><%= student.name %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="container-fluid container-batch-cover">
  <div>
    <div class="cover-students" style="background-image: url(<%= batch.cover_image_url %>)"></div>
  </div>
</div>

