<%= content_for(:title) do  %>
  <% if @selected_product %>
    <%= t ".page_title_with_selected_product",
      product_name: @selected_product["name"], batch_slug: @batch.slug, city_name: @batch.city["name"] %>
  <% else %>
    <%= t ".page_title", batch_slug: @batch.slug, city_name: @batch.city["name"] %>
  <% end %>
<% end %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path('banners/9.jpg')%>');" id="banner-program">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1 class='glitch'>
          <%= t(".demoday_title") %>
        </h1>
        <p>
          <%= t(".demoday_tagline") %>
        </p>
      </div>
    </div>

    <div class="dropdown-section">
    <!-- Dropdown Language -->
    <div class="dropdown-container">
      <div class="dropdown">
        <button class="dropdown-batch dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= t(".dropdown.language") %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>
            <%= link_to "#" do %>
              <%= t(".dropdown.first_item") %>
              <%= render 'shared/english_flag' %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <%= t(".dropdown.second_item") %>
              <%= render 'shared/french_flag' %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <%= t(".dropdown.second_item") %>
              <%= render 'shared/brazilian_flag' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <!-- Dropdown City -->
    <div class="dropdown-container">
      <div class="dropdown">
        <button class="dropdown-batch dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= t(".dropdown.batches") %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-city" aria-labelledby="dropdownMenu1">
          <li>
            <%= link_to "#" do %>
              Batch#43
              <small>Paris - Janv. / Mars 2016</small>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              Batch#31
              <small>Bordeaux - Janv. / Mars 2016</small>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              Batch#30
              <small>Paris - Janv. / Mars 2016</small>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container ">
  <%
    batch = @batch.as_json
    batch["starts_at"] = l(Time.parse(batch["starts_at"]), format: '%B').camelcase
    batch["ends_at"] = l(Time.parse(batch["ends_at"]), format: '%B %Y').camelcase
  %>
  <%= react_component 'PlayerContainer', {
    batch: batch,
    demodayPath: demoday_path,
    withSlugDemodayPath: with_slug_demoday_path(product_slug: ':slug'),
    selectedProdutSlug: @selected_product_slug,
    product_icon: render('shared/product_icon'),
    flag_icon: render('shared/icon_flag_' + @batch.city['course_locale'].underscore.downcase),
    i18n: {
      page_title: t(".page_title"),
      page_title_with_selected_product: t(".page_title_with_selected_product"),
      product_label: t(".player.product"),
      player_cta: t(".player.cta"),
      project_link: t(".player.project_link"),
      project_techno: t(".player.techno"),
      batch_intro: t(".player.batch_intro_html")
    }
  }, prerender: false %>
</div>

<div class="container">
  <%= react_component 'StudentsTitle', {
    counter: @batch.students.count,
    i18n: {
      batch_title: t(".batch_title")
    }
  }, prerender: prerender? %>
  <%= react_component "StudentsList", students: @batch.students, prerender: prerender? %>
</div>
