<%= content_for(:title) do  %>
  <% if @selected_product %>
    <%= t ".page_title_with_selected_product",
      product_name: @selected_product["name"], batch_slug: @batch.slug, city_name: @batch.city["name"] %>
  <% else %>
    <%= t ".page_title", batch_slug: @batch.slug, city_name: @batch.city["name"] %>
  <% end %>
<% end %>

<%= content_for(:navbar_apply_button) do %>
  <%= render "shared/navbar_apply_button", city: @batch.city['slug'] %>
<% end %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path('banners/9.jpg')%>');" id="banner-program">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1 class='glitch'>
          <%= t(".demoday_title") %>
        </h1>
        <p>
          <%= t(".demoday_tagline") %>
        </p>
      </div>
    </div>

    <%
      locales = [
        {
          code: :en,
          icon: render('shared/icon_flag_en'),
          name: 'English'  # TODO: localize this
        },
        {
          code: :fr,
          icon: render('shared/icon_flag_fr'),
          name: 'French'  # TODO: localize this
        },
        {
          code: :"pt-BR",
          icon: render('shared/icon_flag_pt_br'),
          name: 'Brazilian Portuguese'  # TODO: localize this
        }
      ]
    %>
    <%= react_component "PlayerBatchSelector", {
      locales: locales,
      selectedBatch: @batches.select { |b| b.slug == @batch.slug }.first,
      batches: @batches,
      demodayPath: demoday_path(':slug'),
      i18n: {
        page_title: t("demoday.show.page_title")
      }
    }, prerender: false %>
  </div>
</div>

<div id="batch-demoday">
  <%= render 'batch_demoday', auto_play: false, prerender: true, batch: @batch, selected_product_slug: @selected_product_slug %>
</div>
