<%= content_for(:title) do  %>
  <% if @selected_product %>
    <%= t ".page_title_with_selected_product",
      product_name: @selected_product["name"], batch_slug: @batch.slug, city_name: @batch.city["name"] %>
  <% else %>
    <%= t ".page_title", batch_slug: @batch.slug, city_name: @batch.city["name"] %>
  <% end %>
<% end %>

<%= content_for(:navbar_apply_button) do %>
  <%= render "shared/navbar_apply_button", city: @batch.city['slug'] %>
<% end %>

<%= content_for(:description) do  %>
  <% if @selected_product %>
    <% if @selected_product["tagline_fr"].present? && I18n.locale == :fr %>
      <%= @selected_product["tagline_fr"] %>
    <% else %>
      <%= @selected_product["tagline_en"] %>
    <% end %>
  <% else %>
    <%= t("demoday.batch_demoday.player.batch_intro_html", count: @batch.students.count, city_name: @batch.city['name'], batch_start_date: format_date(@batch.starts_at), batch_end_date: format_date(@batch.ends_at)) %>
  <% end %>
<% end %>

<%= content_for(:image_url) do %>
  <% if @selected_product %>
    <%= @selected_product['cover_url'] %>
  <% elsif @batch.meta_image && @batch.meta_image['facebook'].present? %>
    <%= @batch.meta_image['facebook'] %>
  <% else %>
    <%= @batch.cover_image %>
  <% end %>
<% end %>


<h1><%= t(".demoday_title") %><small><%= t(".demoday_tagline") %></small></h1>

<%
  locales = [
    {
      code: :en,
      icon: render('shared/icon_flag_en'),
      name: t('demoday.show.batch_english')
    },
    {
      code: :fr,
      icon: render('shared/icon_flag_fr'),
      name: t('demoday.show.batch_french')
    },
    {
      code: :"pt-BR",
      icon: render('shared/icon_flag_pt_br'),
      name: t('demoday.show.batch_brazilian')
    }
  ]

  json_batches = @batches.map(&:as_json)
  json_batches.each do |batch|
    batch["city_picture"] = cl_image_path batch['city']['city_background_picture_path'], height: 32, crop: :fill
    batch["starts_at"] = format_date(batch["starts_at"])
    batch["ends_at"] = format_date_complete(batch["ends_at"])
  end
%>
<%= react_component "PlayerBatchSelector", {
  locales: locales,
  selectedBatch: json_batches.select { |b| b["slug"] == @batch.slug }.first,
  batches: json_batches,
  demodayPath: demoday_path(':slug'),
  i18n: {
    choose_batch: t("demoday.show.choose_batch"),
    page_title: t("demoday.show.page_title")
  }
}, prerender: false %>

<div id="batch-demoday">
  <%= render 'batch_demoday', auto_play: false, prerender: false, batch: @batch, selected_product_slug: @selected_product_slug %>
</div>
