<ul>
  <li class="<%= params[:category].blank? ? 'filter-active' : nil %>">
    <%= link_to "All", videos_path, remote: true %>
  </li>
  <li class="<%= params[:category] == 'workshop' ? 'filter-active' : nil %>">
    <%= link_to "Workshops", videos_path(category: 'workshop'), remote: true %>
  </li>
  <li class="<%= params[:category] == 'talk' ? 'filter-active' : nil %>">
    <%= link_to "Talks", videos_path(category: 'talk'), remote: true %>
  </li>
  <li class="<%= params[:category] == 'backstage' ? 'filter-active' : nil %>">
    <%= link_to "Backstage", videos_path(category: 'backstage'), remote: true %>
  </li>
</ul>