<% @posts.each_slice(3) do |posts| %>
  <div class="row">
    <% posts.each do |post| %>
      <div class="col-sm-4">
        <a href="<%= post_path post.slug %>">
          <article class="post-thumbnail" style="background-image: url('<%= asset_path "blog/#{post.metadata[:thumbnail]}" %>')">
            <div class="content">
              <h2><%= post.metadata[:title].html_safe %></h2>
              <ul>
                <% post.metadata[:labels].each do |tag| %>
                  <li><%= tag %></li>
                <% end %>
                <li class="read-time"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= post.read_time %> min reading</li>
              </ul>
              <% if post.metadata[:description] %>
                <p class="description"><%= post.metadata[:description].truncate(160) %></p>
              <% end %>
            </div>
          </article>
        </a>
      </div>
    <% end %>
  </div>
<% end %>