<div class="breadcrumb">
  <ul>
    <li><%= link_to 'Blog', blog_path %></li>
    <li>All posts</li>
  </ul>
</div>

<section class="posts">
  <h3 class="section-title"><small><%= ((@posts_count / 5) * 5) %>+ posts to explore</small>Crafted for your eyes only</h3>

  <div class="filter-container" id="posts-filter-container">
    <%= render "filter_menu_post" %>
  </div>

  <div id="posts-container" class="container">
    <%= render 'more_posts', posts: @posts %>
  </div>

  <div id="paginator">
    <%= link_to_next_page @posts, t(".show_more_posts"), remote: true, param_name: :post_page, id: 'load_more_posts', class: 'more-posts content-cta' %>
  </div>
</section>