<% content_for(:title) do %>
  <%= t ".title" %>
<% end %>

<div class="posts">
  <div class="container blog-header">
    <div class="header-main">
      <% Static::VIDEOS.take(1).each do |video| %>
      <div class="main-wrapper">
        <div id="main-container" class="main-container" style="background-image: url('<%= asset_path "videos/#{video[:thumbnail]}" %>')">
          <h2><%= video[:title] %></h2>
          <span><%= video[:description] %></span>
          <i><%= video[:date].strftime("%d %b %Y") %></i>
          <%= link_to "#", id: "play-button", class: "play-button" do %>
            <svg class="play-button svg" x="0px" y="0px" width="57px" height="57px" viewBox="0 0 57 57" style="enable-background:new 0 0 57 57;" xml:space="preserve">
              <circle class="play-button circle" cx="28.5" cy="28.5" r="25"/>
              <path class="play-button play" d="M40.7,27.4L22.6,16.9c-0.4-0.2-0.9-0.2-1.3,0c-0.4,0.2-0.6,0.6-0.6,1.1V39c0,0.5,0.2,0.9,0.6,1.1c0.2,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l18.1-10.5c0.4-0.2,0.6-0.6,0.6-1.1S41.1,27.6,40.7,27.4z"/>
              <circle class="play-button circle play-button circle-outer" cx="28.5" cy="28.5" r="27.5"/>
            </svg>
          <% end %>
        </div>
        <div id="video-wrapper" class="video-wrapper hidden">
          <div class="video-container">
            <div id="close-button">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="512px" height="512px">
                <g>
                  <path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0   s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36   s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293   c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z" fill="#FFFFFF"/>
                </g>
              </svg>
            </div>
            <div id="ytplayer"></div>
            <%= content_for(:after_js) do %>
              <script>
                // Load the IFrame Player API code asynchronously.
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/player_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                // Replace the 'ytplayer' element with an <iframe> and
                // YouTube player after the API code downloads.
                var player;
                function onYouTubePlayerAPIReady() {
                  player = new YT.Player('ytplayer', {
                    height: '360',
                    width: '640',
                    playerVars: { 'autoplay': 0, 'controls': 0, 'showinfo': 0 },
                    videoId: '<%= video[:youtube_slug] %>'
                  });

                  var video = document.getElementById('video-wrapper');
                  var playButton = document.getElementById('play-button');
                  var closeButton = document.getElementById('close-button');
                  var thumbnail = document.getElementById('main-container');

                  playButton.addEventListener('click', function(e) {
                    thumbnail.classList.add('hidden');
                    video.classList.remove('hidden');
                    player.playVideo();
                    e.preventDefault();
                  });

                  closeButton.addEventListener('click', function(e) {
                    thumbnail.classList.remove('hidden');
                    video.classList.add('hidden');
                    player.stopVideo();
                    e.preventDefault();
                  });
                }
              </script>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="header-aside">
      <% @posts.take(3).each do |post| %>
        <article class="postcard element">
          <a href="<%= post_path post.slug %>">
            <div class="content">
              <h2>
                <%= post.metadata[:title].html_safe %>
              </h2>
              <% if post.metadata[:description] %>
                <p class="description"><%= post.metadata[:description].truncate(120) %></p>
              <% end %>
              <span class="author">
                <i class="fa fa-clock-o" aria-hidden="true"></i><strong> 2 min</strong> -
                Posted by <strong><%= post.metadata[:author].capitalize %></strong>
                <% if post.metadata[:date] %>
                   on <strong><%= post.metadata[:date].to_date.strftime("%d %b %Y") %></strong>
                <% end %>
              </span>
            </div>
          </a>
        </article>
      <% end %>
    </div>
  </div>
</div>

<section class="posts">
  <h3 class="section-title"><small>A great community</small>makes amazing stories</h3>
  <div id="posts-container" class="container">
    <%= render 'more_posts', posts: @posts %>
  </div>
  <div id="paginator">
    <%= link_to_next_page @posts, t(".show_more_posts"), remote: true, param_name: :post_page, id: 'load_more_posts', class: 'more-posts' %>
  </div>
</section>


<section class="container-fluid posts-community">
  <h3 class="section-title"><small>A great community</small>makes amazing stories</h3>
  <div class="container medium-carousel">
    <% Static::MEDIUM_POSTS.each do |post| %>
      <div class="medium-card">
        <%= image_tag post[:author_pic] %>
        <%= post[:author_name] %>
        <%= post[:title] %>
        <%= post[:date].strftime("%d %b %Y") %>
        <%= link_to post[:medium_slug] do %>
          Read the article
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<%= render partial: "shared/playlist" %>