<% content_for(:title) do %>
  <%= t ".title" %>
<% end %>

<div class="posts">
  <div class="container blog-header">
    <div class="header-main">
      <% Static::VIDEOS.take(1).each do |video| %>
      <div class="video-main-wrapper">
        <div id="main-container" class="video-main-container" style="background-image: url('<%= asset_path "videos/#{video[:thumbnail]}" %>')">
          <h2><%= video[:title] %></h2>
          <span><%= video[:description] %></span>
          <i><%= video[:date].strftime("%d %b %Y") %></i>
          <%= link_to "#", id: "play-button", class: "play-button" do %>
            <svg class="play-button svg" x="0px" y="0px" width="57px" height="57px" viewBox="0 0 57 57" style="enable-background:new 0 0 57 57;" xml:space="preserve">
              <circle class="play-button circle" cx="28.5" cy="28.5" r="25"/>
              <path class="play-button play" d="M40.7,27.4L22.6,16.9c-0.4-0.2-0.9-0.2-1.3,0c-0.4,0.2-0.6,0.6-0.6,1.1V39c0,0.5,0.2,0.9,0.6,1.1c0.2,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l18.1-10.5c0.4-0.2,0.6-0.6,0.6-1.1S41.1,27.6,40.7,27.4z"/>
              <circle class="play-button circle play-button circle-outer" cx="28.5" cy="28.5" r="27.5"/>
            </svg>
          <% end %>
        </div>
        <div id="video-wrapper" class="video-wrapper hidden">
          <div class="video-container">
            <div id="close-button">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="512px" height="512px">
                <g>
                  <path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0   s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36   s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293   c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z" fill="#FFFFFF"/>
                </g>
              </svg>
            </div>
            <div id="ytplayer"></div>
            <%= content_for(:after_js) do %>
              <script>
                // Load the IFrame Player API code asynchronously.
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/player_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                // Replace the 'ytplayer' element with an <iframe> and
                // YouTube player after the API code downloads.
                var player;
                function onYouTubePlayerAPIReady() {
                  player = new YT.Player('ytplayer', {
                    height: '360',
                    width: '640',
                    playerVars: { 'autoplay': 0, 'controls': 0, 'showinfo': 0 },
                    videoId: '<%= video[:youtube_slug] %>'
                  });

                  var video = document.getElementById('video-wrapper');
                  var playButton = document.getElementById('play-button');
                  var closeButton = document.getElementById('close-button');
                  var thumbnail = document.getElementById('main-container');

                  playButton.addEventListener('click', function(e) {
                    thumbnail.classList.add('hidden');
                    video.classList.remove('hidden');
                    player.playVideo();
                    e.preventDefault();
                  });

                  closeButton.addEventListener('click', function(e) {
                    thumbnail.classList.remove('hidden');
                    video.classList.add('hidden');
                    player.stopVideo();
                    e.preventDefault();
                  });
                }
              </script>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="header-aside">
      <% @posts.take(3).each do |post| %>
        <article class="postcard element">
          <a href="<%= post_path post.slug %>">
            <div class="content">
              <h2>
                <%= post.metadata[:title].html_safe %>
              </h2>
              <% if post.metadata[:description] %>
                <p class="description"><%= post.metadata[:description].truncate(120) %></p>
              <% end %>
              <span class="author">
                <i class="fa fa-clock-o" aria-hidden="true"></i><strong> <%= post.read_time %> min</strong> -
                Posted by <strong><%= post.metadata[:author].capitalize %></strong>
                <% if post.metadata[:date] %>
                   on <strong><%= post.metadata[:date].to_date.strftime("%d %b %Y") %></strong>
                <% end %>
              </span>
            </div>
          </a>
        </article>
      <% end %>
    </div>
  </div>
</div>

<section class="posts">
  <h3 class="section-title"><small>Lastest posts</small>Crafted for your eyes only</h3>
  <div id="posts-container" class="container">
    <%= render 'more_posts', posts: @posts %>
  </div>
  <div id="paginator">
    <%= link_to_next_page @posts, t(".show_more_posts"), remote: true, param_name: :post_page, id: 'load_more_posts', class: 'more-posts' %>
  </div>
</section>

<section class="recorded">
  <h3 class="section-title"><small>Lastest videos</small>We have recorded all the goodies for you!</h3>
  <div class="container">
    <% @videos.take(6).each_slice(3) do |videos| %>
    <div class="row">
      <% videos.each do |video| %>
      <div class="col-sm-4">
        <%= link_to post_path video.slug do %>
          <div class="video-thumbnail" style="background-image: url('<%= asset_path "blog/videos/#{video.metadata[:thumbnail]}" %>')">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 30.051 30.051" style="enable-background:new 0 0 30.051 30.051;" xml:space="preserve" width="512px" height="512px">
              <g>
                <path d="M19.982,14.438l-6.24-4.536c-0.229-0.166-0.533-0.191-0.784-0.062c-0.253,0.128-0.411,0.388-0.411,0.669v9.069   c0,0.284,0.158,0.543,0.411,0.671c0.107,0.054,0.224,0.081,0.342,0.081c0.154,0,0.31-0.049,0.442-0.146l6.24-4.532   c0.197-0.145,0.312-0.369,0.312-0.607C20.295,14.803,20.177,14.58,19.982,14.438z" fill="#FFFFFF"/>
                <path d="M15.026,0.002C6.726,0.002,0,6.728,0,15.028c0,8.297,6.726,15.021,15.026,15.021c8.298,0,15.025-6.725,15.025-15.021   C30.052,6.728,23.324,0.002,15.026,0.002z M15.026,27.542c-6.912,0-12.516-5.601-12.516-12.514c0-6.91,5.604-12.518,12.516-12.518   c6.911,0,12.514,5.607,12.514,12.518C27.541,21.941,21.937,27.542,15.026,27.542z" fill="#FFFFFF"/>
              </g>
            </svg>
            <h4><%= video.metadata[:title] %></h4>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</section>

<section class="container-fluid posts-community">
  <h3 class="section-title"><small>A great community</small>makes amazing stories</h3>
  <div class="container medium-carousel">
    <% Static::MEDIUM_POSTS.each do |post| %>
      <div class="medium-wrapper">
        <div class="medium-card">
          <% if post[:author_pic] != nil %>
            <%= image_tag post[:author_pic] %>
          <% else %>
            <svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <circle id="Oval" fill="#EBEBEB" cx="50" cy="50" r="50"></circle>
              </g>
          </svg>
          <% end %>
          <span><%= post[:author_name] %></span>
          <h4><%= post[:title] %></h4>
          <i><%= post[:date].strftime("%d %b %Y") %></i>
          <%= link_to post[:medium_slug] do %>
            Read on Medium
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="more-content">

<section>

<%= render partial: "shared/playlist" %>