<% count = 1000 %>
<% if @statistics && @statistics['alumni'] && @statistics['alumni']['total'].is_a?(Fixnum) %>
  <% count = @statistics['alumni']['total'] %>
<% end %>

<% content_for(:title) do %>
  <%= t ".title" %>
<% end %>

<div class="posts">
  <h1>Le Wagon's Blog<small>Bringing you the latest news, tutorials and insights on coding and entrepreneurship</small></h1>
  <div class="container blog-header">
    <div class="header-main">
      <% Static::VIDEOS.take(1).each do |video| %>
      <div class="video-main-wrapper">
        <div id="main-container" class="video-main-container" style="background-image: url('<%= asset_path "videos/#{video[:thumbnail]}" %>')">
          <h2><%= video[:title] %></h2>
          <span><%= video[:description] %></span>
          <i><%= video[:date].strftime("%d %b %Y") %></i>
          <%= link_to "#", id: "play-button", class: "play-button" do %>
            <?xml version="1.0" encoding="UTF-8"?>
            <svg id="play-button" width="33px" height="33px" viewBox="0 0 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g class="circle" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M16.5,32 C25.0604136,32 32,25.0604136 32,16.5 C32,7.93958638 25.0604136,1 16.5,1 C7.93958638,1 1,7.93958638 1,16.5 C1,25.0604136 7.93958638,32 16.5,32 Z M22.7543284,16.4569667 L12,22.4003482 L12,11 L22.7543284,16.4569667 Z" id="Oval" stroke="#ffffff"></path>
              </g>
            </svg>
          <% end %>
        </div>
        <div id="video-wrapper" class="video-wrapper hidden">
          <div class="video-container">
            <div id="close-button">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" xml:space="preserve" width="512px" height="512px">
                <g>
                  <path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0   s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36   s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293   c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z" fill="#FFFFFF"/>
                </g>
              </svg>
            </div>
            <div id="ytplayer"></div>
            <%= content_for(:after_js) do %>
              <script>
                // Load the IFrame Player API code asynchronously.
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/player_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                // Replace the 'ytplayer' element with an <iframe> and
                // YouTube player after the API code downloads.
                var player;
                function onYouTubePlayerAPIReady() {
                  player = new YT.Player('ytplayer', {
                    height: '360',
                    width: '640',
                    playerVars: { 'autoplay': 0, 'controls': 0, 'showinfo': 0 },
                    videoId: '<%= video[:youtube_slug] %>'
                  });

                  var video = document.getElementById('video-wrapper');
                  var playButton = document.getElementById('play-button');
                  var closeButton = document.getElementById('close-button');
                  var thumbnail = document.getElementById('main-container');

                  playButton.addEventListener('click', function(e) {
                    thumbnail.classList.add('hidden');
                    video.classList.remove('hidden');
                    player.playVideo();
                    e.preventDefault();
                  });

                  closeButton.addEventListener('click', function(e) {
                    thumbnail.classList.remove('hidden');
                    video.classList.add('hidden');
                    player.stopVideo();
                    e.preventDefault();
                  });
                }
              </script>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="header-aside">
      <%= link_to all_path do %>
      <div class="header-aside-item">
        <div class="aside-item-thumbnail" style="background-image: url('<%= asset_path "blog/blog-posts.jpg" %>')">
        </div>
        <div class="aside-item-content">
          <h3> <%= ((@posts_count / 5) * 5) %>+ posts to explore</h3>
          <ul>
            <li>Tutorials</li>
            <li>Guests</li>
            <li>Events</li>
          </ul>
        </div>
      </div>
      <% end %>
      <%= link_to videos_path do %>
        <div class="header-aside-item">
          <div class="aside-item-thumbnail" style="background-image: url('<%= asset_path "blog/blog-videos.jpg" %>')">
          </div>
          <div class="aside-item-content">
            <h3><%= ((@videos_count / 5) * 5) %>+ videos to watch</h3>
            <ul>
              <li>Workshops</li>
              <li>Talks</li>
            </ul>
          </div>
        </div>
      <% end %>
      <%= link_to alumni_path do %>
        <div class="header-aside-item">
          <div class="aside-item-thumbnail" style="background-image: url('<%= asset_path "blog/blog-stories.jpg" %>')">
          </div>
          <div class="aside-item-content">
            <h3> <%= ((@stories_count / 5) * 5) %>+ alumni stories to read</h3>
            <ul>
              <li>Startups</li>
              <li>Developers</li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<section class="posts">
  <h3 class="section-title"><small>Lastest posts</small>Crafted for your eyes only</h3>
  <div id="posts-container" class="container">
    <%= render 'more_posts', posts: @posts %>
  </div>
  <%= link_to all_path, class: 'content-cta' do %>
    See all posts
  <% end %>
</section>

<section class="recorded">
  <h3 class="section-title"><small>Lastest videos</small>We have recorded all the goodies for you!</h3>
  <div class="container">
    <% @videos.take(6).each_slice(3) do |videos| %>
      <div class="row">
        <% videos.each do |video| %>
          <div class="col-sm-4">
            <%= link_to post_path video.slug do %>
              <div class="video-thumbnail" style="background-image: url('<%= asset_path "blog/videos/#{video.thumbnail}" %>')">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="33px" height="33px" viewBox="0 0 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="play" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <path d="M16.5,32 C25.0604136,32 32,25.0604136 32,16.5 C32,7.93958638 25.0604136,1 16.5,1 C7.93958638,1 1,7.93958638 1,16.5 C1,25.0604136 7.93958638,32 16.5,32 Z M22.7543284,16.4569667 L12,22.4003482 L12,11 L22.7543284,16.4569667 Z" id="Oval" stroke="#ffffff"></path>
                  </g>
                </svg>
                <div class="video-details">
                  <h4><%= video.title %></h4>
                  <ul>
                    <% video.labels.each do |tag| %>
                      <li><%= tag %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= link_to videos_path, class: 'content-cta' do %>
      See all videos
    <% end %>
  </div>
</section>

<section class="more-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= link_to alumni_path do %>
          <div class="more-content-thumbnail" style="background-image: url('<%= asset_path "banners/banner-alumni.jpg" %>')">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="512px" height="512px">
              <g>
                <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26   S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" fill="#FFFFFF"/>
                <path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1   s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z" fill="#FFFFFF"/>
              </g>
            </svg>
            <div class="content-details">
              <h4>Read our Alumni stories</h4>
              <span><%= count %> talented students sharing the same skills & passion</span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= link_to demoday_index_path do %>
          <div class="more-content-thumbnail" style="background-image: url('<%= asset_path "banners/10.jpg" %>')">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="512px" height="512px">
              <g>
                <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26   S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" fill="#FFFFFF"/>
                <path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1   s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z" fill="#FFFFFF"/>
              </g>
            </svg>
            <div class="content-details">
              <h4>Watch our Demodays</h4>
              <span>We are proud of what our students achieved in only 10 days</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= render partial: "shared/playlist" %>