<% content_for(:title) do %>
  <%= t ".title" %>
<% end %>

<div class="posts">
  <div class="container blog-header">
    <div class="header-main">
      <% @posts.take(1).each do |post| %>
        <a href="<%= post_path post.slug %>">
          <article class="postcard element">
            <% if post.metadata[:thumbnail] %>
              <div class="link-img" style="background-image: url('<%= asset_path "blog/#{post.metadata[:thumbnail]}" %>')">
                <div class="postcard-filter"></div>
              </div>
            <% end %>
            <div class="content">
              <div class="centered">
                <h2>
                  <%= post.metadata[:title].html_safe %>
                </h2>
                <span class="author">posted by <strong><%= post.metadata[:author]%></strong></span>
                <% if post.metadata[:description] %>
                  <p class="description"><%= post.metadata[:description].truncate(160) %></p>
                <% end %>
              </div>
            </div>
          </article>
        </a>
      <% end%>
    </div>
    <div class="header-aside">
      <% @posts.take(3).each do |post| %>
        <article class="postcard element">
          <a href="<%= post_path post.slug %>">
            <div class="content">
              <h2>
                <%= post.metadata[:title].html_safe %>
              </h2>
              <% if post.metadata[:description] %>
                <p class="description"><%= post.metadata[:description].truncate(120) %></p>
              <% end %>
              <span class="author">
                <i class="fa fa-clock-o" aria-hidden="true"></i><strong> 2 min</strong> -
                Posted by <strong><%= post.metadata[:author].capitalize %></strong>
                <% if post.metadata[:date] %>
                   on <strong><%= post.metadata[:date].to_date.strftime("%d %b %Y") %></strong>
                <% end %>
              </span>
            </div>
          </a>
        </article>
      <% end%>
    </div>
  </div>
</div>

<section class="container posts-community">
  <h3>See what our community shares<small>Lorem ipsus dolor</small></h3>
</section>

<%= content_for(:after_js) do %>
  <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<% end %>

<div class="posts">
  <div class="container">
    <% @posts.drop(4).each_slice(3) do |posts| %>
      <div class="row">
        <% posts.each do |post| %>
          <div class="col-sm-4">
            <article class="postcard element">
              <% if post.metadata[:thumbnail] %>
                <a href="<%= post_path post.slug %>" class="link-img" style="background-image: url('<%= asset_path "blog/#{post.metadata[:thumbnail]}" %>')">
                  <div class="postcard-filter"></div>
                </a>
              <% end %>
              <div class="content">
                <div class="centered">
                  <h2>
                    <a href="<%= post_path post.slug %>">
                      <%= post.metadata[:title].html_safe %>
                    </a>
                  </h2>
                  <span class="author">posted by <strong><%= post.metadata[:author]%></strong></span>
                  <% if post.metadata[:description] %>
                    <p class="description"><%= post.metadata[:description].truncate(160) %></p>
                  <% end %>
                </div>
              </div>
              <div class="link-post-container text-right">
                <a href="<%= post_path post.slug %>" class="link-post"><i class="fa fa-eye"></i>
                </a>
              </div>
            </article>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
