<% content_for(:title) do %>
  <%= @post.title.html_safe %> - Le Wagon
<% end %>

<% content_for(:description) do %>
  <%= @post.description.html_safe %>
<% end %>

<% content_for(:image_url) do %>
  <% if @post.layout.to_sym == :video %>
    https://img.youtube.com/vi/<%= @post.youtube_slug %>/maxresdefault.jpg
  <% else %>
    <%= post_image_url(@post.thumbnail) if @post.thumbnail %>
  <% end %>
<% end %>


<!-- FACEBOOK SDK ON SHOW VIEW -->
<% if @post.layout.to_sym == :video || @post.layout.to_sym == :post %>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '737501859652485',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<% end %>

<!-- VIDEO SHOW VIEW -->
<% if @post.layout.to_sym == :video %>
  <div class="container breadcrumb">
    <ul>
      <li><%= link_to t('.breadcrumb_1'), blog_path %></li>
      <li><%= link_to t('.breadcrumb_videos_2'), videos_path %></li>
      <li><%= @post.title.html_safe %></li>
    </ul>
  </div>
  <div style="overflow: hidden;">
    <div class="container video-layout">
      <div class="row">

        <!-- AFFIX - SOCIAL SHARING OPTIONS -->
        <div class="col-md-2">
          <%= render "posts/social_sharing" %>
        </div>

        <!-- CONTENT - VIDEO CONTAINER -->
        <article class="blog-video col-md-8">
          <div class="video-main-wrapper">
            <!-- CONTENT - VIDEO WRAPPER -->
            <div id="video-wrapper" class="video-wrapper">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @post.youtube_slug %>?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>

          <!-- CONTENT - VIDEO DETAILS -->
          <div class="video-description">
            <div class="video-specs">
              <div class="video-title">
                <h1><%= @post.title %></h1>
              </div>
              <% if @post.content.blank? %>
                <p><%= @post.description  %></p>
              <% else %>
                <%= raw @post.content  %>
              <% end %>
              <span><% if @post.author[:picture] %><%= author_image_tag(@post.author[:picture]) %><% end %>Posted on <%= @post.date.to_date.strftime("%d %b %Y") %> by <%= @post.author[:fname].capitalize %> <%= @post.author[:lname].capitalize %></span>
            </div>
          </div>

          <div class="more-videos">
            <h3 class="section-title"><small><%= t('.watch_more_title') %></small><%= t('.watch_more_catchline') %></h3>
            <div class="row">
              <% @videos.each do |video| %>
                <div class="col-sm-6">
                  <%= link_to post_path video.slug do %>
                    <div class="video-thumbnail" style="background-image: url('https://img.youtube.com/vi/<%= video.youtube_slug %>/maxresdefault.jpg')">
                      <div class="video-details">
                        <div class="catergory-items">
                          <%= render "shared/flags/icon_flag_#{video.locale}" %>
                          <ul>
                            <% video.labels.each do |tag| %>
                              <li><%= tag %></li>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
<% else %>

<!-- POST SHOW VIEW -->
  <div class="container breadcrumb">
    <ul>
      <li><%= link_to t('.breadcrumb_1'), blog_path %></li>
      <li><%= link_to t('.breadcrumb_posts_2'), all_path %></li>
      <li><%= @post.title.html_safe %></li>
    </ul>
  </div>
  <div style="overflow: hidden;">
    <article class="blog-post">
      <div class="post-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= post_image_url(@post.thumbnail) %>')">
        <div class="post-header-background"
        <h1><%= @post.title.html_safe %></h1>
        <p class="written-by"><% if @post.author[:picture] %><%= author_image_tag(@post.author[:picture]) %><% end %>Published by <%= @post.author[:fname] %> <%= @post.author[:lname] %> on <%= @post.date.to_date.strftime("%d %b %Y") %></p>
      </div>
      <div class="post-wrapper container">
        <div class="row">

          <!-- AFFIX - SOCIAL SHARING OPTIONS -->
          <div class="col-md-2">
            <div data-spy="affix" data-offset-top="620" data-offset-bottom="2300">
              <%= render 'posts/social_sharing' %>
            </div>
          </div>

          <!-- POST - CONTENT -->
          <div class="col-md-8 post-content">
            <%= raw @post.content %>

            <!-- POST - AUTHOR INFO -->
            <% if @post.author %>
              <div class="post-author">
                <% if @post.author[:picture] %>
                  <%= author_image_tag(@post.author[:picture]) %>
                <% end %>
                <div class="author-details">
                  <span class="author-name"><%= @post.author[:fname] %> <%= @post.author[:lname] %></span>
                  <i class="author-position"><%= @post.author[:position] %> at <%= link_to @post.author[:company], "https://www." + @post.author[:company_website].to_s %></i>
                  <p class="author-bio"><%= @post.author[:bio] %></p>
                  <ul class="author-social">
                    <% if @post.author[:instagram] %>
                      <li>
                        <a href="https://www.instagram.com/<%= @post.author[:instagram] %>">
                          <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                    <% end %>
                    <% if @post.author[:twitter] %>
                      <li>
                        <a href="https://www.twitter.com/<%= @post.author[:twitter] %>">
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                    <% end %>
                    <% if @post.author[:linkedin] %>
                      <li>
                        <a href="https://www.linkedin.com/in/<%= @post.author[:linkedin] %>">
                          <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </article>

    <!-- END - READ MORE POSTS -->
    <div class="container-fluid more-posts">
      <h3 class="section-title"><small><%= t('.read_more_title') %></small><%= t('.read_more_catchline') %></h3>
      <div class="container-fluid">
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
              <a href="<%= post_path post.slug %>">
                <article class="post-thumbnail">
                  <div class="card-author">
                    <div class="background-author" style="background-image: url('<%= post_image_url(post.thumbnail) %>')"></div>
                    <% if post.author %>
                      <div class="post-author">
                        <% if post.author[:picture] %>
                          <%= author_image_tag(post.author[:picture]) %>
                        <% end %>
                        <div class="author-details">
                          <span class="author-name"><%= post.author[:fname] %> <%= post.author[:lname] %></span>
                          <i class="author-position"><%= post.author[:position] %><br><small>at <%= post.author[:company] %></small></i>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <div class="card-content">
                    <ul>
                      <% post.labels.each do |tag| %>
                        <li><%= tag %></li>
                      <% end %>
                    </ul>
                    <h2><%= post.title.html_safe %></h2>
                    <% if post.description %>
                      <p class="description"><%= post.description.truncate(260) %></p>
                    <% end %>
                    <span class="read-time">
                      <i class="fa fa-clock-o" aria-hidden="true"></i> <%= post.read_time %> min reading
                      <% if post.date %> - Posted on <%= post.date.to_date.strftime("%d %b %Y") %><% end %>
                    </span>
                  </div>
                </article>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <script>
    document.getElementById('shareBtn').onclick = function() {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: window.location.href,
      }, function(response){});
    }
  </script>
<% end %>
