<% content_for(:title) do %>
  Le Wagon - <%= @post.metadata[:title] %>
<% end %>

<% content_for(:description) do %>
  <%= @post.metadata[:description] %>
<% end %>

<% content_for(:image_url) do %>
  <%= asset_path "blog/#{@post.metadata[:thumbnail]}" if @post.metadata[:thumbnail] %>
<% end %>



<% if @post.layout.to_sym == :video %>
  <div style="overflow: hidden;">
    <div class="container video-layout">
      <div class="row">
        <article class="blog-video">

          <div class="video-main-wrapper">
            <div id="main-container" class="video-main-container" style="background-image: url('<%= asset_path "blog/videos/#{@post.metadata[:thumbnail]}" %>')">
              <%= link_to "#", id: "play-button", class: "play-button" do %>
                <svg width="33px" height="33px" viewBox="0 0 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="play" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <path d="M16.5,32 C25.0604136,32 32,25.0604136 32,16.5 C32,7.93958638 25.0604136,1 16.5,1 C7.93958638,1 1,7.93958638 1,16.5 C1,25.0604136 7.93958638,32 16.5,32 Z M22.7543284,16.4569667 L12,22.4003482 L12,11 L22.7543284,16.4569667 Z" id="Oval" stroke="#ffffff"></path>
                  </g>
                </svg>
              <% end %>
            </div>

            <div id="video-wrapper" class="video-wrapper hidden">
              <div class="video-container">
                <div id="close-button">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="512px" height="512px">
                    <g>
                      <path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0   s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36   s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293   c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z" fill="#FFFFFF"/>
                    </g>
                  </svg>
                </div>

                <div id="ytplayer"></div>
                <%= content_for(:after_js) do %>
                  <script>
                    // Load the IFrame Player API code asynchronously.
                    var tag = document.createElement('script');
                    tag.src = "https://www.youtube.com/player_api";
                    var firstScriptTag = document.getElementsByTagName('script')[0];
                    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                    // Replace the 'ytplayer' element with an <iframe> and
                    // YouTube player after the API code downloads.
                    var player;
                    function onYouTubePlayerAPIReady() {
                      player = new YT.Player('ytplayer', {
                        height: '360',
                        width: '640',
                        playerVars: { 'autoplay': 0, 'controls': 0, 'showinfo': 0 },
                        videoId: '<%= @post.metadata[:youtube_slug] %>'
                      });

                      var video = document.getElementById('video-wrapper');
                      var playButton = document.getElementById('play-button');
                      var closeButton = document.getElementById('close-button');
                      var thumbnail = document.getElementById('main-container');

                      playButton.addEventListener('click', function(e) {
                        thumbnail.classList.add('hidden');
                        video.classList.remove('hidden');
                        player.playVideo();
                        e.preventDefault();
                      });

                      closeButton.addEventListener('click', function(e) {
                        thumbnail.classList.remove('hidden');
                        video.classList.add('hidden');
                        player.stopVideo();
                        e.preventDefault();
                      });
                    }
                  </script>
                <% end %>
              </div>
            </div>
          </div>

          <div class="video-description">
            <h1><%= @post.metadata[:title] %></h1>
            <span>Posted on <%= @post.metadata[:date].to_date.strftime("%d %b %Y") %> by <%= @post.metadata[:author].capitalize %></span>
            <span><%= @post.metadata[:description] %></span>
          </div>

          <div class="more-videos">
            <h3 class="section-title"><small>You know what?</small>Binge watching is ok</h3>
            <div class="row">
              <% @videos.each do |video| %>
                <div class="col-sm-6">
                  <%= link_to post_path video.slug do %>
                    <div class="video-thumbnail" style="background-image: url('<%= asset_path "blog/videos/#{video.metadata[:thumbnail]}" %>')">
                      <?xml version="1.0" encoding="UTF-8"?>
                      <svg width="33px" height="33px" viewBox="0 0 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="play" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path d="M16.5,32 C25.0604136,32 32,25.0604136 32,16.5 C32,7.93958638 25.0604136,1 16.5,1 C7.93958638,1 1,7.93958638 1,16.5 C1,25.0604136 7.93958638,32 16.5,32 Z M22.7543284,16.4569667 L12,22.4003482 L12,11 L22.7543284,16.4569667 Z" id="Oval" stroke="#ffffff"></path>
                        </g>
                      </svg>
                      <div class="video-details">
                        <h4><%= video.metadata[:title] %></h4>
                        <ul>
                          <% video.metadata[:labels].each do |tag| %>
                            <li><%= tag %></li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
<% else %>
  <div style="overflow: hidden;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <article class="blog-post">
            <h1><%= @post.metadata[:title].html_safe %></h1>
            <%= render 'written_by', post: @post, date_format: :long %>
            <hr>
            <%= raw @post.content %>
          </article>
        </div>
      </div>
    </div>
  </div>
<% end %>
