<div class="breadcrumb">
  <ul>
    <li><%= link_to 'Blog', blog_path %></li>
    <li>All videos</li>
  </ul>
</div>

<section class="videos">
  <h3 class="section-title"><small><%= ((@videos_count / 5) * 5) %>+ videos to watch</small>We have recorded all the goodies for you!</h3>

  <div class="filter-container" id="videos-filter-container">
    <%= render "filter_menu_video" %>
  </div>

  <div id="videos-container" class="container">
    <%= render 'more_videos', videos: @videos %>
  </div>

  <div id="paginator">
    <%= link_to_next_page @videos, t(".show_more_videos"), remote: true, param_name: :post_page, id: 'load_more_videos', class: 'more-videos content-cta' %>
  </div>
</div>