<% if @city['slug'] == 'barcelona' %>
  <%= content_for(:title) { "Coding Bootcamp in Barcelona, Spain - Le Wagon" } %>
<% else %>
  <%= content_for(:title) { raw t(".title", city: @city["name"]) } %>
<% end %>
<%= content_for(:description) { raw t(".description", city: @city["name"]) } %>
<%#= content_for(:headers) do %>
  <!-- <link rel="canonical" href="<%= root_url(locale: I18n.locale) %>" /> -->
<%# end %>

<%
  asset = "social/#{@city["slug"]}_facebook_card.png"
  content_for(:image_url) { image_url asset } unless Rails.application.assets.find_asset(asset).nil?
%>

<div class="banner-container">
  <div class="container">

    <div class="banner banner-top banner-gradient text-center"
      <% if @city["city_background_picture_path"].present? %>
        style="background-image: url('<%= cl_image_path @city["city_background_picture_path"], crop: :fill, width: 1140 %>');"
      <% end %>
    >
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1><%= t ".city_arrival_html", city: @city["name"] %></h1>
        <p><%= t(".catchline_html", city: @city["name"]) %></p>
      </div>
    </div>
    <div class='banner-cta'>

    <%# I look at you all see the love there that's sleeping... %>
    <% if @city['contact_phone_number_displayed'] %>
      <a href="tel:<%= @city['contact_phone_number'].gsub(' ', '') %>" class="banner-cta-item">
        <%= t(".call", name: @city['contact_phone_number_name']) %>
        <%= @city['contact_phone_number'] %>
        &nbsp;<i class="fa fa-mobile fa-2x"></i>
      </a>
    <% end %>
    <% if @city['email'] %>
      <a href="mailto:<%= @city['email'] %>" class="banner-cta-item">
        <%= t(".email", name: @city['contact_phone_number_name']) %>
        &nbsp; <i class="fa fa-envelope"></i>
      </a>
    <% end %>
    <% if !@city['contact_phone_number_displayed'] && @city['email'].blank? %>
      <%= link_to send(:"program_#{locale.to_s.underscore}_path"), class: 'banner-cta-item hidden-xs' do %>
        <%= t(".discover_us") %>
      <% end %>
    <% end %>

    <%= link_to t(".apply_for_nine_weeks_html"), send(:"apply_#{locale.to_s.underscore}_path", city: @city['slug']), class: "btn banner-cta-item btn-danger btn-lg" %>
    </div>
  </div>
</div>

<% if @city["marketing_specifics"].present? %>
  <div class="marketing-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <%= markdown(@city["marketing_specifics"]) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "shared/features", wrapper_up: !@city["marketing_specifics"].present? %>


<% if @city["classroom_background_picture_path"] %>
<div class="banner-container">
  <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= cl_image_path(@city["classroom_background_picture_path"], width: 1280, crop: :fill)%>'); height: 70vh; background-position: center;" id="banner-city">
  </div>
</div>
<% end %>

<%= render partial: "shared/testimonials_new" %>


<div id="staff">
  <div class="container">
    <h2 class="section-title-home text-center">
      <div class="section-title-home-content" style="font-size:30px;">
        <%= t ".staff", city: @city["name"]%>
      </div>
    </h2>
  </div>
  <div class="container">
    <div>
      <% @teachers.each do |teacher| %>
      <div class="row">
        <div class="col-xs-12">
          <div class="card-staff">
            <div class="card-staff-description">
              <h3><%= teacher["first_name"] %> <%= teacher["last_name"] %></h3>
              <p><%= markdown(teacher["bio"][locale.to_s] || teacher["bio"]["en"]) %></p>
            </div>
            <div class="card-staff-infos">
              <div class="card-staff-role">
                <h4><%= teacher["role"]%></h4>
                <p>
                  <a href="http://github.com/<%= teacher["github_nickname"] %>" target="_blank">
                    <i class="fa fa-github"></i> <%= teacher["github_nickname"] %></p>
                  </a>
                <p>
                <% if teacher["twitter_nickname"].present? %>
                  <p>
                    <a href="http://twitter.com/<%= teacher["twitter_nickname"] %>" target="_blank">
                      <i class="fa fa-twitter"></i> <%= teacher["twitter_nickname"] %></p>
                    </a>
                  <p>
                <% end %>
              </div>
              <%= cl_adaptive_image_tag teacher["photo_path"], width: 100, height: 100, crop: :fill, class: "img-circle card-staff-img" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% unless @assistants.empty? %>
    <div class="container">
      <h2 class="section-title-home text-center">
        <div class="section-title-home-content" style="font-size:30px;">
          Beloved Teaching Assistants
        </div>
      </h2>
    </div>

    <div class="container">
      <div class="row text-center">
        <% @assistants.each_slice(4).each do |slice| %>
        <div class="col-xs-12 col-sm-offset-<%= (12 % slice.count) / 2 %>">
          <% slice.each do |ta| %>
            <div class="col-xs-6 col-sm-<%= 12 / slice.count %> ta-card">
              <%= link_to "http://alumni.lewagon.org/#{ta["github_nickname"]}", target: :blank do %>
                <%= cl_adaptive_image_tag ta["photo_path"], width: 80, height: 80, crop: :fill, class: "img-circle" %>
              <% end %>
              <h4><%= ta["first_name"]%> <%= ta["last_name"]%></h4>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @city["logistic_specifics"].present? %>
    <div class="container specifics">
      <h2 class="section-title-home text-center">
        <div class="section-title-home-content" style="font-size: 30px;">
          <%= t(".only_in", city: @city["name"]) %>
        </div>
      </h2>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <%= markdown(@city["logistic_specifics"]) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render "shared/positions" %>

<div class="quote-overlay">
  <div class="container">
    <div class='quote'>
      <h2 class='section-title-home quote'>
        <div class='section-title-home-content' style='background-color: #fff;'>
          "an <strong>Impressive</strong> coding bootcamp"
          <div class='techcrunch'>
            <hr class='techcrunch-hr hidden-xs'>
            <div>
              <%= image_tag "techcrunch.png" %>
            </div>
          </div>
        </div>
      </h2>
      <div class='techcrunch-view hidden-sm hidden-xs'>
        <a href='http://techcrunch.com/2014/11/27/le-wagon-is-an-impressive-french-coding-bootcamp-for-entrepreneurs/' target='_blank'>
        <%= image_tag "press/techcrunch.png" %>
        </a>
      </div>
    </div>
  </div>
</div>

<% if @city["location"].present? && @city["location_background_picture_path"].present? %>
<div class="location-overlay">
  <div id="location" class="banner banner-flat" style="background-image: url('<%= cl_image_path(@city["location_background_picture_path"], width: 1280, crop: :fill) %>');">
    <div class="banner-flat-filter banner-flat-filter-black"></div>
    <div class="banner-content">
      <div class='location-tab-overlay'>
        <div class='location-tab'>
          <h2>
            <%= @city["location"] %>,
            <a target='_blank' class='location-google-maps-link' href='<%= "https://www.google.com/maps/place/#{@city["address"]}" %>'>
            <span><%= @city["address"] %></span>
            </a>
          </h2>
        </div>
      </div>
      <div class="location-content">
        <% if @city["location"]%>
          <%= markdown(@city["description"][locale.to_s] || @city["description"]["en"]) %>
        <% end %>
      </div>
      <% if @meetup[:infos].blank? %>
        <%# No CTA to show %>
      <% elsif @meetup[:events].empty? %>
        <a href="<%= @meetup[:infos]["link"] %>" target="_blank" class="btn-transparent">
          <%= t ".apprentices", count: @meetup[:infos]['members'] %>
        </a>
      <% else %>
        <div class='apprentices'>
          <%= t ".apprentices", count: @meetup[:infos]['members'] %>
        </div>
        <div>
          <a href="<%= @meetup[:events].first["event_url"] %>" target="_blank" class="btn-transparent">
            <%= t '.next_meetup_html', name: @meetup[:events].first["name"].truncate(50) %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<% if @city["location"] && @city["latitude"] %>
  <% content_for(:after_js) do %>
    <script class="_iub_cs_activate-inline" type="text/plain" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCukr6vo0mkusgzjemMGVI83TDUo-oqpzw"></script>
    <script class="_iub_cs_activate-inline" type="text/plain">
      prepareMap(
        '<%= @city['name'] %>',
        <%= @city['latitude'] %>,
        <%= @city['longitude'] %>,
        '<%= asset_path 'pin_icon.png' %>');
    </script>
  <% end %>

  <div class="map-container">
    <div id="map"></div>
  </div>
<% end %>

<div class="container text-center next-batch">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <%= t '.course_locale_html', city: @city['name'], language: course_language[@city['slug']] || t("applies.new.language_#{@city['course_locale']}") %>
      <% if @next_batch %>
        <%= t '.next_batch_html', starts_at: l(@next_batch['starts_at'].to_date, format: :apply) %>
      <% end %>
      <%= link_to t('shared.navbar.apply'), send(:"apply_#{locale.to_s.underscore}_path", city: @city['slug']) %>
    </div>
  </div>
</div>

<% unless @city["apply_facebook_pixel"].blank? %>
  <%= content_for(:after_js) do %>
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '<%= @city["apply_facebook_pixel"] %>');
    fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=<%= @city["apply_facebook_pixel"] %>&ev=PageView&noscript=1"
    /></noscript>
  <% end %>
<% end %>
