<!DOCTYPE html>
<html class="<%= "#{params[:controller]}-#{params[:action]}".gsub('/', '-') %>" lang="<%= I18n.locale %>">
<head>
<% cache [ 'head', request: request.original_url, live: @live, locale: I18n.locale ] do %>
  <title><%= content_for?(:title) ? yield(:title).squish : "Le Wagon" %></title>
  <meta name="description" content="<%= (yield(:description) || "").squish %>">

  <meta charset="utf-8" />
  <link rel="icon" href="<%= image_path 'favicon.png' %>" type="image/png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:title" content="<%= (yield(:title) || "").squish %>" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= "https://#{ENV['HOST']}#{request.path_info}" %>" />
  <meta property="og:image" content="<%= image_url_with_fallback(yield :image_url) %>" />
  <meta property="og:description" content="<%= (yield(:description) || "").squish %>" />
  <meta property="og:site_name" content="Le Wagon" />
  <meta property="fb:admins" content="548348576" />
  <meta property="fb:app_id" content="737501859652485" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="<%= (yield(:title) || "").squish %>">
  <meta name="twitter:description" content="<%= (yield(:description) || "").squish %>">
  <meta name="twitter:creator" content="@Lewagonparis">
  <meta name="twitter:image:src" content="<%= image_url_with_fallback(yield :image_url) %>">

  <meta name="google-site-verification" content="LnPNLeO2JXVUcf-vJ-TpkNB3ngOGzFHjzj0WfDu82bc" />

  <link rel="alternate" hreflang="fr" href="<%= locale_current_url_for(:fr) %>" />
  <link rel="alternate" hreflang="en" href="<%= locale_current_url_for(:en) %>" />
  <link rel="alternate" hreflang="pt-BR" href="<%= locale_current_url_for(:"pt-BR") %>" />

  <% if request.path_info == '/' %>
    <link rel="alternate" href="<%= url_for('/') %>" hreflang="x-default" />
  <% end %>
  <%= yield(:headers) %>
<% end %>

<%= stylesheet_link_tag :application, media: "all" %>
<%= csrf_meta_tags %>

</head>
<body class="<%= "#{params[:controller]}-#{params[:action]}" %>">
  <%= render "shared/iubenda" %>

  <%# render "shared/ondemand" if I18n.locale == :fr %>
  <%# render "shared/medium" %>
  <%= render "shared/flashes" %>
  <%= render "shared/navbar" %>

  <%= yield %>

  <%= javascript_include_tag :application %>
  <%= yield(:after_js) %>

  <%= render "shared/footer" %>

  <%= render "shared/drift" if !@hide_drift && Rails.env.production? %>
  <%= render "shared/google_analytics" %>
  <%= render "shared/mixpanel" %>
  <%= render "shared/facebook_audience" if Rails.env.production?  %>
  <%= render "shared/hotjar" if Rails.env.production? %>
</body>
</html>
